@media screen and (max-width: 425px) {

    #home,
    .left,
    .right,
    ::-webkit-scrollbar {
        display: none !important;
    }

    #main {
        height: calc(100% - 35px);
    }

    #main .center {
        width: 97.5%;
    }

    #option {
        position: absolute !important;
        padding: 10px !important;
        width: calc(100% - 20px) !important;
        top: calc(100% - 45px) !important;
        height: 35px !important;
        z-index: 2;
    }

    #main .air .populate,
    #main .result .filter,
    #main .result .populate {
        margin: 1em;
        width: 32%;
    }
}

@media screen and (max-width: 768px) {

	#main .center .quick .right,
	#main .center .quick .left {
		display: none !important;
	}

}

@media screen and (min-width: 768px) {
    #main .center {
        width: 60% !important;
    }

    #main .air .populate,
    #main .result .filter,
    #main .result .populate {
        margin: 2em;
        width: 16%;
    }

    .suggestions {
        display: inline-block !important;
    }
}

@media screen and (min-width: 1024px) {
    #main .center {
        width: 50% !important;
    }
}

@media screen and (min-width: 2560px) {
    #main .center {
        width: 35% !important;
    }
}

::-webkit-scrollbar {
    display: block;
    width: 5px
}

.invert::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, .1)
}

.invert::-webkit-scrollbar {
    background-color: #f5f5f5
}

.invert {
    scrollbar-color: #eee #f5f5f5;
    scrollbar-width: thin;
}

.opposite::-webkit-scrollbar-thumb {
    background-color: #222
}

.opposite::-webkit-scrollbar {
    background-color: #000
}

.opposite {
    scrollbar-color: #222 #000;
    scrollbar-width: thin;
}

#progressBar {
	height: 4px;
	width: 0;
}

.responseInvert {
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 4px;
	width: 0;
}

.responseOpposite {
    background-image: linear-gradient(to left, #ef4063 0%, #e557c6 100%);
	height: 4px;
	width: 0;
}

.response {
    -moz-transition: all .5s ease;
    -moz-transition-delay: 0s;
    -webkit-transition: all .5s ease;
    -webkit-transition-delay: 0s;
}

.progress {
    position: relative;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, .3) 30%, rgba(255, 255, 255, .6) 80%, rgba(255, 255, 255, .3) 100%) repeat;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, .3) 30%, rgba(255, 255, 255, .6) 80%, rgba(255, 255, 255, .3) 100%) repeat;
    -moz-background-size: 50% 100%;
    -moz-animation: percent 6s linear infinite;
    -webkit-background-size: 50% 100%;
    -webkit-animation: percent 6s linear infinite;
}

@-webkit-keyframes percent {
    0% {
        background-position: left bottom;
    }

    100% {
        background-position: right bottom;
    }
}

@-moz-keyframes percent {
    0% {
        background-position: left bottom;
    }

    100% {
        background-position: right bottom;
    }
}

.overlay {
    position: relative;
    width: 100%;
    background: linear-gradient(140deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 45%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .2) 55%, rgba(255, 255, 255, 0) 100%);
    background-size: 100% 1700%;
    -moz-animation: gloss 5s linear .5;
    -webkit-animation: gloss 5s linear .5;
}

@-webkit-keyframes gloss {
    0% {
        background-position: 90% 100%
    }

    50% {
        background-position: 0% 10%
    }

    100% {
        background-position: 90% 100%
    }
}

@-moz-keyframes gloss {
    0% {
        background-position: 90% 100%
    }

    50% {
        background-position: 0% 10%
    }

    100% {
        background-position: 90% 100%
    }
}

@font-face {
    font-family: Proxima Nova;
    src: url(../fonts/ProximaNova-Regular.woff);
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.woff2);
}

@font-face {
    font-family: Billabong;
    src: url(../fonts/Billabong.ttf);
}

div,
input {
    font-family: Proxima Nova;
}

.fa {
	display: inline-block;
}

.fa-git:before {
	font-family: FontAwesome;
	content:"\f1d3";
}

.fa-circle:before {
	font-family: FontAwesome;
	content:"\f10c";
}

.fa-terminal:before {
	font-family: FontAwesome;
	content:"\f120";
}

.fa-user-circle:before {
	font-family: FontAwesome;
	content:"\f2be";
}

.filter,
.populate,
.combine div,
#bottom,
#option,
.index,
.hover,
#visit,
.more,
.post,
.pub,
.img,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    text-decoration: none;
    cursor: pointer;
}

a:hover, .combine div:hover {
    text-decoration: underline;
}

html,
body,
#main,
#visit,
#wrapper,
#container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

#arm {
    position: relative;
    height: 60px;
    width: 100%;
}

#search {
	position: absolute;
    height: 56px;
    width: 100%;
    margin: 0;
	top: 4px;
}

#home {
    font-family: Billabong;
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    height: 46px;
    left: 10px;
    top: 5px;
}

#option {
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    font-size: 24px;
    padding: 10px;
    display: flex;
    top: 12px;
    right: 0;
}

#main {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    height: calc(100% - 64px);
    -ms-user-select: none;
	position: relative;
    text-align: center;
    overflow-x: hidden;
    user-select: none;
    overflow: auto;
    outline: none;
}

#visit {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 105%;
}

#placeholder {
    filter: brightness(50%) saturate(20%) invert(90%);
    width: 100px !important;
    margin-top: -100px;
    margin-left: 25px;
}

.fa-circle,
.fa-terminal,
.fa-circle-thin,
.fa-user-circle {
    margin-left: 20px;
    color: #666;
}

.air,
.result {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.filter,
.populate {
    display: inline-flex;
    border-radius: 2px;
    flex-wrap: wrap;
    font-size: 9px;
    padding: 15px;
    margin: 3em;
    width: 16em;
}

.title,
.category {
    border-radius: 10px;
    margin: auto 0;
    padding: 7px;
    float: left;
}

.description {
    padding-bottom: 5px;
    text-align: justify;
    display: table-cell;
    position: relative;
    width: fit-content;
    margin-top: 5px;
    clear: left;
    float: left;
}

.type {
    display: inline-block;
    border-radius: 28px;
    position: relative;
    font-size: 10px;
    height: 28px;
    width: 28px;
    left: 5px;
}

.quick {
    border-radius: 2px;
    position: relative;
    margin: 25px auto;
    height: 7.5em;
    width: 100%;
}

.feed {
    -webkit-overflow-scrolling: touch;
    position: relative;
    border-radius: 2px;
    overflow-y: hidden;
    overflow-x: auto;
    font-size: 10px;
    display: flex;
    height: 100%;
    width: 100%;
}

.feed::-webkit-scrollbar {
    display: none;
}

svg {
    position: absolute;
    width: 72px;
    height: 72px;
}

svg .border {
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    stroke-linecap: round;
    position: absolute;
    stroke-width: 2;
    fill: none;
}

.mask {
    animation: dash 1s linear alternate;
    fill: none;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1;
    }

    100% {
        stroke-dasharray: 4;
    }
}

.right {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    width: 1.5em;
    height: 100%;
    right: -1px;
    z-index: 2;
    top: 1px;
}

.left {
    justify-content: center;
    position: absolute;
    align-items: center;
    display: flex;
    width: 1.5em;
    height: 100%;
    z-index: 2;
    left: -1px;
    top: 1px;
}

.asset {
    position: relative;
    text-align: center;
    padding-left: 7px;
    padding-top: 15px;
    flex-shrink: 0;
}

.asset a {
    display: block;
}

.id {
    border-radius: 36px;
    position: relative;
    padding: 1px;
    margin: 10px;
    height: 50px;
    width: 50px;
}

.center {
    display: inline-block;
    padding-right: 5px;
    position: relative;
	margin-left: 120px;
    text-align: left;
}

.item {
    margin-bottom: 2em;
    width: 100%;
}

.type,
.item .id {
    border: 1px solid #ddd !important;
    height: 28px;
    width: 28px;
}

.header {
    height: 45px;
    width: 100%;
}

.courtesy {
    text-transform: capitalize;
    align-items: center;
    position: relative;
    width: fit-content;
    font-size: 10px;
    display: flex;
    left: 0;
}

.item .pub,
.item .add {
    justify-content: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 13px;
    width: 95%;
    left: 0;
}

.item .pub {
    display: inline-block;
    margin-bottom: 5px;
}

.more {
    background-color: transparent;
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    padding-top: 10px;
    font-size: 13px;
    color: #aaa;
}

.item .add {
    margin-left: 15px !important;
    margin-bottom: 10px;
    font-size: 12px;
    width: 85%;
}

.img,
.image {
    position: relative;
}

.tag {
    position: relative;
    width: 100%;
}

.fa-heart,
.fa-heart-o,
.fa-comments,
.fa-comments-o,
.fa-sticky-note,
.fa-sticky-note-o,
.fa-bookmark,
.fa-bookmark-o {
    font-size: 16px !important;
    margin: 10px !important;
}

.fa-bookmark,
.fa-bookmark-o {
	float: right !important;
}
.fa-heart:before {
	font-family: FontAwesome;
	content:"\f004";
}
.fa-comments:before {
	font-family: FontAwesome;
	content:"\f086";
}
.fa-sticky-note:before {
	font-family: FontAwesome;
	content:"\f02e";	
}
.fa-bookmark:before {
	font-family: FontAwesome;
	content:"\f02e";
}
.fa-heart-o:before {
	font-family: FontAwesome;
	content:"\f08a";
}
.fa-comments-o:before {
	font-family: FontAwesome;
	content:"\f0e6";
}
.fa-sticky-note-o:before {
	font-family: FontAwesome;
	content:"\f24a";
}
.fa-bookmark-o:before {
	font-family: FontAwesome;
	content:"\f097";
}
.post {
	margin-right: 10px;
	position: relative;
	color: lightcyan;
	font-size: 12px;
	float: right;
	top: -27px;
}

.addComment {
    margin-top: 5px;
	margin: 0;
}

.comment {
    font-family: Proxima Nova;
    padding: 1em;
    border: none;
    clear: left;
    width: 100%;
}

.comment::placeholder {
    font-size: 12px;
    color: #aaa;
}

.url,
.share,
.source {
    position: relative;
    z-index: -2;
    height: 0;
}

.copy {
    font-size: 12px;
    padding: 20px;
    float: right;
}

.ago {
    text-transform: uppercase;
	margin-bottom: 5px;
    position: relative;
    width: fit-content;
    margin-left: 10px;
    font-size: 10px;
    color: #e4e4e4;
}

input[type=text] {
    -webkit-appearance: none;
    caret-color: transparent;
    text-align: center;
    position: relative;
    border-radius: 4px;
    font-size: 13px;
    margin: 0 auto;
    display: none;
    outline: none;
    height: 2.5em;
    width: 16em;
    top: 1em;
}

#match {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    display: none;
    z-index: 2;
    top: 1em;
}

.listing {
    background-color: #fff;
    position: relative;
    overflow-y: auto;
    height: 19.1em;
    margin: 0 auto;
    width: 14em;
    z-index: 2;
}

.index {
    padding-bottom: 15px;
    position: relative;
    padding-top: 15px;
    font-size: 12px;
    height: 2.5em;
    width: 100%;
}

.hover {
    background-color: #e4e4e4;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 12px;
    height: 2.5em;
    width: 100%;
}

.text {
    display: inline-block;
    position: relative;
    bottom: 3px;
}

input[type=submit] {
    display: none;
}

#bottom {
    position: relative;
    bottom: 2em;
    height: 2em;
    width: 100%;
}

.bottom {
    position: relative !important;
    margin: 0 auto !important;
    display: block;
    width: 52px;
}

.suggestions {
    display: inline-block;
    height: fit-content;
    vertical-align: top;
    position: relative;
    text-align: left;
	margin-left: 5px;
    font-size: 10px;
    padding: 15px;
    width: 120px;
    top: 170px;
}

.combine {
    width: 100%;
    margin: 5px;
}

.combine div {
    margin-top: 15px;
}


.views {
    position: absolute;
    bottom: -50px;
    right: 10px;
    z-index: 2;
}

.yt {
    -webkit-overflow-scrolling: touch;
    width: calc(100% - 1px);
    padding-bottom: 54.25%;
    margin-bottom: 5px;
    position: relative;
}

iframe {
    position: absolute;
    border: none;
    height: 100%;
    width: 100%;
	top: 5px;
	left: 0;
}
