.invisible {
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.visible {
  visibility: visible;
  opacity: 100;
  transition: .5s;
}

.mask {
  animation: dash 1s linear alternate;
  fill: none;
}

.slide {
  left: 10px !important;
  transition: .5s;
}

.search {
  left: 15px !important;
  transition: .5s;
}

.responseInvert {
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  height: 4px;
  width: 0;
}

.feedInvert {
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786);
  background: linear-gradient(to right, #f7797d, #FBD786);
  -webkit-mask-image: radial-gradient(transparent 0 27px, #000 27.5px);
  mask-image: radial-gradient(transparent 0 27px, #000 27.5px);
  border-radius: 36px;
  position: relative;
  height: 56px;
  width: 56px;
  z-index: 6;
}

.selectInvert {
  background: -webkit-linear-gradient(to left, #f7797d, #FBD786);
  background: linear-gradient(to left, #f7797d, #FBD786);
  -webkit-mask-image: radial-gradient(transparent 0 20px, #000 20.5px);
  mask-image: radial-gradient(transparent 0 20px, #000 20.5px);
  border-radius: 36px;
  position: absolute;
  height: 42px;
  width: 42px;
}

.suggestInvert {
  background: -webkit-linear-gradient(to left, #f7797d, #FBD786);
  background: linear-gradient(to left, #f7797d, #FBD786);
  -webkit-mask-image: radial-gradient(transparent 0 12px, #000 12.5px);
  mask-image: radial-gradient(transparent 0 12px, #000 12.5px);
  border-radius: 13px;
  position: relative;
}

.responseOpposite {
  background: -webkit-linear-gradient(to left, #ef4063, #e557c6);
  background: linear-gradient(to left, #ef4063, #e557c6);
  height: 4px;
  width: 0;
}

.feedOpposite {
  background: -webkit-linear-gradient(to right, #ef4063, #e557c6);
  background: linear-gradient(to right, #ef4063, #e557c6);
  -webkit-mask-image: radial-gradient(transparent 0 27px, #000 27.5px);
  mask-image: radial-gradient(transparent 0 27px, #000 27.5px);
  border-radius: 36px;
  position: relative;
  height: 56px;
  width: 56px;
  z-index: 6;
}

.selectOpposite {
  background: -webkit-linear-gradient(to left, #ef4063, #e557c6);
  background: linear-gradient(to left, #ef4063, #e557c6);
  -webkit-mask-image: radial-gradient(transparent 0 20px, #000 20.5px);
  mask-image: radial-gradient(transparent 0 20px, #000 20.5px);
  border-radius: 36px;
  position: absolute;
  height: 42px;
  width: 42px;
}

.suggestOpposite {
  background: -webkit-linear-gradient(to left, #ef4063, #e557c6);
  background: linear-gradient(to left, #ef4063, #e557c6);
  -webkit-mask-image: radial-gradient(transparent 0 12px, #000 12.5px);
  mask-image: radial-gradient(transparent 0 12px, #000 12.5px);
  border-radius: 13px;
  position: relative;
}

.response {
  -webkit-transition: all .25s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all .25s ease-in-out;
  -moz-transition-delay: 0s;
}

.progress {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .3) 30%, rgba(255, 255, 255, .6) 80%, rgba(255, 255, 255, .3) 100%) repeat;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, .3) 30%, rgba(255, 255, 255, .6) 80%, rgba(255, 255, 255, .3) 100%) repeat;
  -webkit-animation: percent 6s linear infinite;
  -moz-animation: percent 6s linear infinite;
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  position: relative;
  height: 100%;
  width: 100%;
}

.overlay {
  background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 45%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .2) 55%, rgba(255, 255, 255, 0) 100%);
  -webkit-animation: gloss 3s linear .5;
  -moz-animation: gloss 3s linear .5;
  background-size: 100% 1700%;
  position: relative;
  width: 100%;
}

@-webkit-keyframes percent {
  0% {
    background-position: left bottom;
  }

  100% {
    background-position: right bottom;
  }
}

@-webkit-keyframes gloss {
  0% {
    background-position: 90% 100%
  }

  50% {
    background-position: 0% 10%
  }

  100% {
    background-position: 90% 100%
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1;
  }

  100% {
    stroke-dasharray: 4;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.page .fill {
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
}

.page .fill {
  animation: move 2s infinite cubic-bezier(.25,.64,.81,.23);
}
.page .fill:nth-of-type(2) {
  animation: move 2s 150ms infinite cubic-bezier(.25,.64,.81,.23);
}
.page .fill:nth-of-type(3) {
  animation: move 2s 300ms infinite cubic-bezier(.25,.64,.81,.23);
}
.page .fill:nth-of-type(4) {
  animation: move 2s 450ms infinite cubic-bezier(.25,.64,.81,.23);
}
.page .fill:nth-of-type(5) {
  animation: move 2s 600ms infinite cubic-bezier(.25,.64,.81,.23);
}


@keyframes move {
  0% {left: 0%;}
  100% {left:100%;}
}

/*
The loaders use CSS custom properties (variables) to control the attributes of the loaders
*/
:root{
	--loader-width: 30px;
	--loader-height: 30px;
	--line-width: 2px;
	--animation-duration: 7s;
	--loader-initial-scale: 0.1;
}
.loader,.loader:before,.loader:after{
  margin: 0 auto;
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
}
/*
In order to get optimal results, please only change the
variables above and don't change anything in the actual loader code
*/

@keyframes circle-inner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-outer {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.loader.double-circle {
    position: relative;
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
}

.double-circle::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  border: var(--line-width, 4px) solid transparent;
  border-bottom-color: var(--loader-color-primary);
  animation: circle-inner var(--animation-duration, 4s) infinite linear ;
}
.double-circle::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    border: var(--line-width, 4px) solid transparent;
    border-bottom-color: var(--loader-color-secondary);
    animation: circle-outer var(--animation-duration, 8s) infinite linear ;
}

.double-circle::before{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.double-circle::after{
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    animation-direction: circle-outer;
}
