.guide {
  scrollbar-width: none;
}

.guide::-webkit-scrollbar {
  display: none;
}

.blurDay {
  background-color: rgba(255,255,255,.2);
}

.blurNight {
  background-color: rgba(0,0,0,.2);
}

.invertScrollbar::-webkit-scrollbar {
  width: 2px;
}

.invertScrollbar::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 2px;
}

.invertScrollbar {
  scrollbar-color: #eeeeee transparent;
  scrollbar-width: thin;
}

.oppositeScrollbar::-webkit-scrollbar {
  width: 2px;
}

.oppositeScrollbar::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border-radius: 2px;
}

.oppositeScrollbar {
scrollbar-color: #2f2f2f transparent;
scrollbar-width: thin;
}

.invertOver:hover {
  background-color: #f6f8fa !important;
  border: .3px solid #ddd !important;
}

.invertOver:hover .classic {
  background-color: #f6f8fa !important;
}

.invertOver:hover .img {
  filter: brightness(0.97);
}

.invertOver:not(:hover) {
  border: .3px solid transparent !important;
  background-color: #ffffff;
}

.invertOverBorderless:hover {
  background-color: #f2f2f2 !important;
}

.invertOverBorderless:not(:hover) {
  background-color: transparent;
}

.toggle {
  top: -20px !important;
  transition: .4s;
}

.toggleHidden {
  top: -30px !important;
  transition: .4s;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.visible {
  display: block !important;
  visibility: visible;
  transition: .25s;
  opacity: 100;
}

.oppositeOver:hover {
  background-color: #0a0a0a !important;
  border: .3px solid #0a0a0a !important;
}

.oppositeOver:hover .classic {
  background-color: #0a0a0a !important;
}

.oppositeOver:hover .img {
  filter: brightness(.75);
}

.oppositeOver:not(:hover) {
  border: .3px solid #0f0f0f !important;
}

.oppositeOverBorderless:hover {
  background-color: #1f1f1f !important;
}

.oppositeOverBorderless:not(:hover) {
  background-color: transparent;
}

.buttonOpposite {
  background-color: #f7426C;
}

.buttonOpposite:hover {
  background-color: #f54e75;
}

.buttonInvert {
  background-color: #0078D4;
}

.buttonInvert:hover {
  background-color: #1683D8;
}

.expand {
  display: flex !important;
  font-size: 12px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  width: 92% !important;
}

.expand .filter,
.expanding .populate {
  padding: 5px !important;
}

.expand .display {
  width: 48px !important;
  padding-right: 15px !important;
}

.expand img {
  border-radius: 0 !important;
  height: 48px !important;
  width: 48px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.expand .title {
  text-align: left !important;
  flex-basis: 25% !important;
  margin: 0 !important;
  width: 100%;
}

.expand .hash,
.expand .blank,
.expand .media {
  align-items: center !important;
  padding-right: 15px !important;
}

.expand .hash {
  flex-basis: 15% !important;
  justify-content: center;
}

.expand .blank,
.expand .media {
  flex-basis: 15% !important;
}

.expand .description {
  text-align: left !important;
  flex-basis: 65% !important;
  width: 100%;
}

.indexInvert {
  background-color: #ffffff !important;
}

.indexInvertOverBorderless {
  background-color: #f6f8fa !important;
  color: #666666;
}

.indexOpposite {
  background-color: #0f0f0f !important;
}

.indexOppositeOverBorderless {
  background-color: #262626 !important;
  color: #ffffff;
}
