.blur {
  background-color: var(--sticky-background);
  backdrop-filter: blur(25px);
}

.guide {
  scrollbar-width: none;
}

.guide::-webkit-scrollbar {
  display: none;
}

.invertScrollbar::-webkit-scrollbar {
  width: 2px;
}

.invertScrollbar::-webkit-scrollbar-thumb {
  background-color: var(--fill-color-secondary);
  border-radius: 2px;
}

.invertScrollbar {
  scrollbar-color: #eeeeee transparent;
  scrollbar-width: thin;
}

.filterBlur {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 1px);
  z-index: 11;
}

.toggle {
  top: 20px !important;
  transition: .4s;
}

.toggleHidden {
  top: 0 !important;
  transition: .4s;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.visible {
  display: block !important;
  visibility: visible;
  transition: .25s;
  opacity: 100;
}

.expand {
  display: flex !important;
  font-size: 12px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 80px !important;
}

.expand .filter,
.expand .populate {
  padding: 5px !important;
}

.expand .display {
  width: 48px !important;
  margin: 10px !important;
  padding-right: 15px !important;
}

.expand img {
  border-radius: 0 !important;
  height: 48px !important;
  width: 48px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.expand .title {
  text-align: left !important;
  flex-basis: 25% !important;
  margin: 0 !important;
  width: 100%;
}

.expand .hash,
.expand .media {
  align-items: center !important;
  padding-right: 15px !important;
}

.expand .hash {
  flex-basis: 15% !important;
}

.expand .media {
  flex-basis: 15% !important;
}

.expand .des {
  text-align: left !important;
  align-items: center !important;
  flex-basis: 65% !important;
}

.mobile {
  display: flex !important;
  font-size: 12px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  width: 100% !important;
  height: 80px !important;
}

.mobile .filter,
.mobile .populate {
  padding: 5px !important;
}

.mobile .display {
  padding-right: 15px !important;
}

.mobile img {
  border-radius: 0 !important;
  height: 48px !important;
  width: 48px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.mobile .hash {
  align-items: center !important;
  text-align: center !important;
  flex-basis: 40% !important;
}

.mobile .media {
  text-align: left !important;
  flex-basis: 25% !important;
}

.mobile .title {
  text-align: left !important;
  flex-basis: 30% !important;
}

.mobile .des {
  flex-basis: 0% !important;
  width: 0 !important;
}
