@font-face {
  src: url(../fonts/ProximaNova-Light.woff);
  font-family: Proxima Nova;
  font-display: block;
}

@font-face {
  src: url(../fonts/fontawesome.woff2);
  font-family: FontAwesome;
  font-display: block;
}

@font-face {
  src: url(../fonts/Billabong.ttf);
  font-family: Billabong;
  font-display: block;
}

.loader, .loader:before, .loader:after {
  justify-content: center;
  align-items: center;
  display: flex;
}

.fa,
.far,
.images {
  display: inline-block;
}

.fa-sun {
  font-size: 17px;
  padding: 17px;
}

.fa-home,
.fa-code,
.fa-terminal {
  font-size: 20px;
  padding: 15px;
}

.fa-heart,
.fa-heart-o,
.fa-comments,
.fa-gratipay,
.fa-bookmark,
.fa-comment-o,
.fa-bookmark-o,
.fa-sticky-note,
.fa-sticky-note-o {
  font-size: 24px !important;
  padding: 5px !important;
}

.fa-home:before {
  font-family: FontAwesome;
  content: "\f015";
  font-weight: 50;
}

.fa-sun:before {
  font-family: FontAwesome;
  content: "\f185";
  font-weight: 50;
}

.fa-angle-up:before {
  font-family: FontAwesome;
  position: relative;
  content: "\f106";
  font-weight: 50;
}

.fa-terminal:before {
  font-family: FontAwesome;
  content: "\f120";
  font-weight: 50;
}

.fa-code:before {
  font-family: FontAwesome;
  content: "\f121";
  font-weight: 50;
}

.fa-sticky-note:before {
  font-family: FontAwesome;
  content: "\f249";
}

.fa-heart-o:before {
  font-family: FontAwesome;
  content: "\f08a";
}

.fa-comment-o:before {
  font-family: FontAwesome;
  content: "\f0e5";
}

.fa-sticky-note-o:before {
  font-family: FontAwesome;
  content: "\f24a";
}

.fa-bookmark-o:before {
  font-family: FontAwesome;
  content: "\f097";
}

.fa-bookmark:before {
  font-family: FontAwesome;
  content: "\f02e";
}

.fa-bookmark,
.fa-bookmark-o {
  float: right !important;
  margin-right: 5px;
}

.fa-gratipay {
  color: lightcoral !important;
}

.fa-angle-double-left:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f100";
}

.fa-angle-double-right:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f101";
}

.fa-search:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f002";
  font-weight: 50;
}

.fa-ellipsis-h:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f141";
}

.fa-ellipsis-v:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f142";
}

.fa-heart:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f004";
}

.fa-comment:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f075";
}

div,
input {
  font-family: Proxima Nova;
}

.filter,
.populate,
.combine div,
#placeholder,
.checkmark,
#toggle,
#bottom,
#option,
.radial,
.select,
.index,
.hover,
.right,
.feed,
.left,
#home,
.item,
.more,
.post,
.img,
.id,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  -webkit-user-select: none;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

html,
body,
#wrapper,
#container,
#wrapper #container #main,
#wrapper #container #main #visit {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

#wrapper #container #main #notification {
  border-radius: 6px;
  width: fit-content;
  font-weight: bold;
  position: fixed;
  font-size: 1em;
  bottom: -200px;
  display: none;
  right: 2.75em;
  padding: 1em;
  margin: 10px;
  height: 1em;
  z-index: 9;
}

#wrapper #container #main #progressBar {
  position: fixed;
  height: 4px;
  z-index: 3;
  width: 0;
  top: 0;
}

#wrapper #container #toggle {
  background-color: transparent !important;
  visibility: hidden;
  position: absolute;
  padding: 15px;
  right: 2px;
  z-index: 1;
  top: 7px;
}

#wrapper #container #guide .checkmark {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: none;
  stroke-width: 2;
  stroke: #fff;
  margin: 10px;
  stroke-miterlimit: 10;
  z-index: 3;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

#wrapper #container #guide .checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 29;
  stroke-dashoffset: 29;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

#wrapper #container #guide .checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

#wrapper #container #guide {
  position: absolute;
  display: none;
}

.guide::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
}

#wrapper #container #guide,
#wrapper #container #guide .blur {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 8;
  margin: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#wrapper #container #guide .blur {
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: -1;
}

#wrapper #container #main #top {
  width: calc(100% - 17px);
  visibility: hidden;
  position: fixed;
  height: 57px;
  z-index: 2;
  top: 0;
}

#wrapper #container #main #top #arm {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 51px;
  width: 100%;
}

#wrapper #container #main #top #arm #search {
  position: absolute;
  height: 51px;
  width: 100%;
  margin: 0;
  top: 4px;
}

#wrapper #container #main #top #arm #search #home {
  font-family: Billabong;
  text-decoration: none;
  font-display: block;
  position: absolute;
  font-size: 36px;
  cursor: pointer;
  height: 40px;
  left: 50px;
  top: 5px;
}

#wrapper #container #main #top #arm #search #home:active {
  color: #666 !important;
}

#wrapper #container #main #top #arm #option {
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  display: flex;
  right: 0px;
  z-index: 1;
  top: 5px;
}

#wrapper #container #main {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
  text-align: center;
  overflow-y: scroll;
  user-select: none;
  outline: none;
}

#wrapper #container #main .group {
  scrollbar-width: none;
  padding-bottom: 57px;
  height: fit-content;
  width: 100%;
}

#wrapper #container #main #visit {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

#wrapper #container #main #visit .page #handle {
  position: relative;
  margin: 0 auto;
  height: 25px;
  width: 100%;
}

#wrapper #container #main #visit .page #handle #placeholder {
  background-color: transparent !important;
  width: fit-content !important;
  text-decoration: none;
  position: relative;
  display: block;
  margin: 0 auto;
  right: 10px;
}

#wrapper #container #main #visit .page {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 770px;
  top: 225px;
}

#wrapper #container #main #visit .page #handle .fill {
  visibility: hidden;
}

#wrapper #container #main #visit .page #front .quick .feed {
  position: relative;
  top: 15px;
}

#wrapper #container #main #visit .page #front {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  top: -20px;
}

#wrapper #container #main #visit .page #front #first {
  position: relative;
  top: -145px;
}

#wrapper #container #main #visit .page #front #first .listing {
  background-color: transparent;
  height: calc(27.2em);
  border-radius: 4px;
  position: relative;
  padding-top: 12px;
  overflow-y: auto;
  text-align: left;
  width: 100%;
}

#wrapper #container #main #top #arm #search #match .listing .index .radial,
#wrapper #container #main #top #arm #search #match .listing .hover .radial,
#wrapper #container #main #visit .page #front #first .listing .index .radial,
#wrapper #container #main #visit .page #front #first .listing .hover .radial {
  bottom: -2px;
  left: -2px;
}

.type,
.typeTranslation {
  background-color: transparent;
  display: inline-block;
  border-radius: 28px;
  position: relative;
  font-size: 10px;
  bottom: 3.5px;
  height: 41px;
  left: -1.5px;
  width: 41px;
}

.text {
  background-color: transparent;
  display: inline-block;
  position: relative;
  bottom: 10px;
  height: 30px;
}

#wrapper #container #main #visit .page #front .focus {
  background-color: transparent;
  white-space: nowrap;
  padding-right: 60px;
  visibility: hidden;
  position: relative;
  height: 39.6px;
  top: 25px;

}

#wrapper #container #main #visit .page #front .focus input[type=text] {
  -webkit-appearance: none;
  caret-color: transparent;
  display: inline-block;
  padding-left: 40px;
  position: relative;
  border-radius: 2px;
  text-align: center;
  width: calc(100%);
  font-size: 18px;
  height: 2.2em;
  outline: none;
  top: -15px;
  margin: 0;
}

.pageInput {
  box-shadow: 2px 2px 12px #ddd !important;
  transition: box-shadow .25s;
}

.pageInputOut {
  box-shadow: 1px 1px 1px #ddd !important;
  transition: box-shadow .25s;
}

#wrapper #container #main #top #arm #search #input .icon,
#wrapper #container #main #visit .page #front .focus .icon {
  font-size: 14px !important;
  color: #aaa !important;
  position: absolute;
  margin-top: 2px;
  left: 100px;
  z-index: 2;
  top: 11px;
}

.buttonOpposite {
  background-color: #f7426C;
}

.buttonOpposite:hover {
  background-color: #f54e75;
}

.buttonInvert {
  background-color: #0078D4;
}

.buttonInvert:hover {
  background-color: #1683D8;
}

#wrapper #container #main #visit .page #front .focus .button {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  height: 39.6px;
  width: 60px;
  right: 4px;
}

#wrapper #container #main #visit .page #front .focus .buttonSearch {
  font-size: 20px !important;
  transform: rotate(90deg);
  color: #fff !important;
  position: absolute;
  right: 20px;
  top: 10px;
}

#wrapper #container #main #visit .page #front .show {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  right: 160px;
  z-index: 2;
  left: 0;
}

#wrapper #container #main #visit .page #front .show .link {
  display: inline-flex;
  border-radius: 20px;
  align-items: center;
  position: relative;
  margin-left: 10px;
  padding: 10px;
  height: 10px;
  width: 10px;
  z-index: 2;
}

#wrapper #container #main .group .air,
#wrapper #container #main .group .result {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  top: 60px;
}

#wrapper #container #main .group .air .populate,
#wrapper #container #main .group .result .filter,
#wrapper #container #main .group .result .populate {
  display: inline-flex;
  border-radius: 8px;
  flex-wrap: wrap;
  font-size: 9px;
  padding: 12px;
  margin: 3em;
  width: 16em;
}

#wrapper #container #main .group .air .populate a,
#wrapper #container #main .group .result .filter a,
#wrapper #container #main .group .result .populate a {
  background-color: transparent;
  position: relative;
  margin: 0 auto;
}

#wrapper #container #main .group .air .populate .display,
#wrapper #container #main .group .result .filter .display,
#wrapper #container #main .group .result .populate .display {
  position: relative;
  padding: 5px;
  width: 100%;
}

#wrapper #container #main .group .air .populate .id,
#wrapper #container #main .group .result .filter .id,
#wrapper #container #main .group .result .populate .id {
  position: relative;
  margin: 0 auto;
}

#wrapper #container #main .group .air .populate .title,
#wrapper #container #main .group .result .filter .title,
#wrapper #container #main .group .result .populate .title {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
}

#wrapper #container #main #top #arm #search #input,
#wrapper #container #main #top #arm #search #match {
  z-index: 2;
}

#wrapper #container #main #top #arm #search #input {
  position: relative;
  margin: 0 auto;
  display: none;
  width: 18em;
  top: .4em;
}

#wrapper #container #main #top #arm #search #input input[type=text] {
  -webkit-appearance: none;
  caret-color: transparent;
  text-align: center;
  border-radius: 2px;
  font-size: 16px;
  outline: none;
  height: 2.2em;
  width: 100%;
}

#wrapper #container #main #top #arm #search #match {
  width: fit-content;
  position: relative;
  margin: 0 auto;
  display: none;
  height: 28em;
  top: 7px;
}

input[type=submit] {
  display: none;
}

#wrapper #container #main .center .quick,
#wrapper #container #main #visit .page #front .quick {
  border-radius: 4px;
  position: relative;
  margin: 25px auto;
  height: 7.5em;
  width: 100%;
}

#wrapper #container #main .center .quick .feed,
#wrapper #container #main #visit .page #front .quick .feed {
  -webkit-overflow-scrolling: touch;
  border: .3px solid #ddd;
  scrollbar-width: none;
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  font-size: 10px;
  display: flex;
  height: 100%;
  width: 100%;
}

#wrapper #container #main .center .quick .feed.feed::-webkit-scrollbar,
#wrapper #container #main #visit .page #front .quick .feed::-webkit-scrollbar {
  display: none;
}

.detail {
  padding: 0 !important;
  position: relative;
  bottom: 0px;
  z-index: 5;
  left: -2px;
}

#wrapper #container #main .center .quick .feed .radial,
#wrapper #container #main #visit .page #front .quick .feed .radial {
  border-radius: 36px;
  position: absolute;
  height: 58.5px;
  width: 58.5px;
  margin: 10px;
  z-index: 1;
}

#wrapper #container #main .center .quick .feed .asset,
#wrapper #container #main #visit .page #front .quick .feed .asset {
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
  text-align: center;
  border-radius: 4px;
  padding-top: 15px;
  flex-shrink: 0;
}

#wrapper #container #main .center .quick .feed .asset img,
#wrapper #container #main #visit .page #front .quick .feed img {
  height: 55.25px;
  width: 55.25px;
  left: .25px;
  top: .5px;
}

#wrapper #container #main .center .quick .feed .asset a,
#wrapper #container #main #visit .page #front .quick .feed .asset a {
  background-color: transparent !important;
  display: block;
}

#wrapper #container #main .center .quick .right,
#wrapper #container #main #visit .page #front .quick .right {
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  position: absolute;
  display: flex;
  right : -24px;
  padding: 4px;
  height: 24px;
  width: 24px;
  z-index: 7;
  top: 55px;
}

#wrapper #container #main .center .quick .left,
#wrapper #container #main #visit .page #front .quick .left {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  border-radius: 16px;
  padding: 4px;
  height: 24px;
  width: 24px;
  left: -24px;
  z-index: 7;
  top: 55px;
}

.id {
  background-color: transparent;
  border-radius: 36px;
  position: relative;
  padding: 1px;
  margin: 10px;
  height: 52px;
  width: 52px;
}

#wrapper #container #guide .sticky .header,
#wrapper #container #main .center .item .header,
#wrapper #container #main .center .item .classic .header {
  background-color: transparent;
  height: 70px;
  width: 100%;
}

#wrapper #container #guide .sticky .header .courtesy,
#wrapper #container #main .center .item .classic .header .courtesy {
  text-transform: capitalize;
  align-items: center;
  position: relative;
  width: fit-content;
  margin-top: 5px;
  font-size: 10px;
  display: flex;
  height: 50px;
  left: 0;
}

#wrapper #container #guide .sticky .header .courtesy a,
#wrapper #container #main .center .item .classic .header .courtesy a {
  background-color: transparent;
}

#wrapper #container #main .center .item .fill {
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  display: block;
  height: 7em;
}

#wrapper #container #main .center .item .classic  {
  background-color: transparent;
}

#wrapper #container #main .center .item .classic .wrap {
  background-color: transparent;
  margin-left: 10px;
}

#wrapper #container #guide .sticky {
  align-items: center;
  position: relative;
  display: none;
}

#wrapper #container #guide .sticky .item {
  display: table-cell !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 10px;
  margin: 0;
}

#wrapper #container #guide .sticky .wrap {
  display: table-cell !important;
  vertical-align: top;
  width: 300px;
  height: 100%;
}

#wrapper #container #guide .sticky .pub {
  background-color: transparent;
  height: calc(100% - 100px);
  font-size: 13px;
  padding: 10px;
  width: 300px;
}

#wrapper #container #guide .sticky .ago {
  position: absolute;
  width: 300px;
  bottom: 40px;
  margin: 5px;
}

#wrapper #container #guide .sticky .tag {
  position: absolute;
  width: 320px;
  bottom: 0;
}

#wrapper #container #main .center .item,
#wrapper #container #guide .sticky .item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  margin-bottom: .3px;
  width: 100%;
}

.invertOver:hover {
  background-color: #f6f8fa !important;
  border: .3px solid #ddd !important;
}

.invertOver:hover .classic {
  background-color: #f6f8fa !important;
}

.invertOverBorderless:hover {
  background-color: #f2f2f2 !important;
  transition: .3s
}

.invertOverBorderless:not(:hover) {
  background-color: #f7f7f7 !important;
  transition: .3s
}

.invertOver:not(:hover) {
  border: .3px solid #ffffff;
  background-color: #ffffff;
}

.oppositeOver:hover {
  background-color: #0e0e0e !important;
}

.oppositeOver:hover .classic {
  background-color: #0e0e0e !important;
}

.oppositeOverBorderless:hover {
  background-color: #0e0e0e !important;
  transition: .3s
}

.oppositeOverBorderless:not(:hover) {
  background-color: #000000 !important;
  transition: .3s
}


.oppositeOver:not(:hover) {
  border: .3px solid #000000;
}

#wrapper #container #main .center .item .radial {
  margin-left: 10.25px;
  border-radius: 36px;
  position: absolute;
  height: 25px;
  width: 26px;
  z-index: 1;
}

#wrapper #container #main .center .item .header .id {
  width: 24.5px;
  height: 24px;
}

#wrapper #container #main .center .item .pub,
#wrapper #container #main .center .item .add {
  background-color: transparent;
  justify-content: left;
  width: 95% !important;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 13px;
  left: 0;
}

#wrapper #container #main .center .item .pub {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

#wrapper #container #main .center .item .add {
  margin-left: 15px !important;
  margin-bottom: 10px;
  font-size: 12px;
  width: 85%;
}

#wrapper #container #main .center .item .tag {
  background-color: transparent;
  min-width: 38% !important;
  position: relative;
  width: 100%;
}

#wrapper #container #main .center .item .img,
#wrapper #container #main .center .item .image {
  background-color: transparent;
  position: relative;
  margin: 0 auto;
}

#wrapper #container #main .center .item .img {
  max-width: 100%;
  max-height: 90vh;
  margin: 0 auto;
}

#wrapper #container #main .center .item .image {
  right: 0;
  left: 0;
}

#wrapper #container #main .center .item .pub .more {
  background-color: transparent;
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  padding-top: 5px;
  font-size: 13px;
  color: #aaa;
}

#wrapper #container #main .center .item .addComment {
  margin: 0;
}

#wrapper #container #main .center .item .addComment .comment {
  background-color: transparent;
  font-family: Proxima Nova;
  padding: 1em;
  border: none;
  clear: left;
  width: 100%;
}

#wrapper #container #main .center .item .addComment .comment::placeholder {
  font-size: 12px;
  color: #aaa;
}

#wrapper #container #main .center .item .addComment .post {
  margin-right: 10px;
  position: relative;
  color: lightcyan;
  font-size: 12px;
  float: right;
  top: -27px;
}

#wrapper #container #main .center .item .url,
#wrapper #container #main .center .item .share,
#wrapper #container #main .center .item .source {
  display: inline-block;
  position: relative;
  z-index: -2;
  width: 10px;
  height: 0;
}

#wrapper #container #main .center .item .header .copy,
#wrapper #container #guide .sticky .item .header .copy {
  font-size: 12px;
  padding: 23px;
  float: right;
}

#wrapper #container #main .center .item .wrap,
#wrapper #container #guide .sticky .item .wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  -webkit-user-select: none;
  width: calc(100% - 10px);
  flex-wrap: wrap;
  display: flex;
}

#wrapper #container #main .center .item .external {
  text-transform: lowercase;
  padding-bottom: 10px;
  position: relative;
  margin-left: 10px;
  font-size: 10;
  width: 98%;
  left: 12px;
}

#wrapper #container #main .center .item .ago {
  background-color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  width: fit-content;
  margin-left: 12px;
  font-size: 9px;
}

#wrapper #container #main .center #bottom {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding-bottom: 9em;
  position: relative;
  font-size: 12px;
  display: flex;
  height: 5em;
  width: 100%;
  bottom: 0;
}

#wrapper #container #main .center #bottom .bottom {
  position: relative !important;
  margin: 0 auto !important;
  font-family: Billabong;
  display: inline-block;
  font-size: 28px;
}

#wrapper #container #main .center #bottom .previous {
  float: left !important;
}

#wrapper #container #main .center #bottom .next {
  float: right !important;
}

#wrapper #container #main .center {
  display: inline-block;
  position: relative;
  text-align: left;
  left: 10px;
  top: 60px;
}

#wrapper #container #main .translation {
  background-color: transparent;
  display: inline-block;
  height: fit-content;
  vertical-align: top;
  margin-left: -10px;
  text-align: left;
  position: sticky;
  font-size: 10px;
  padding: 5px;
  width: 120px;
  left: -120px;
  top: 230px;
}

#wrapper #container #main .translation .select {
  padding-bottom: 15px;
  position: relative;
  padding-top: 15px;
  font-size: 12px;
  height: 2.5em;
  width: 100%;
}

#wrapper #container #main .translation .select .radial {
  position: absolute;
  border-radius: 36px;
  height: 42px;
  bottom: 8px;
  width: 42px;
  left: -2px;
}

#wrapper #container #main .content {
  display: inline-block;
  height: fit-content;
  vertical-align: top;
  text-align: left;
  position: sticky;
  margin-left: 5px;
  font-size: 10px;
  padding: 15px;
  width: 190px;
  top: 65px;
}

#wrapper #container #main .content .stats {
  align-items: center;
  margin-bottom: 25px;
  position: relative;
  text-align: left;
  font-size: 10px;
  height: 120px;
  display: flex;
  width: 190px;
  top: 4px;
}

#wrapper #container #main .content .stats .info,
#wrapper #container #main .content .stats .asset {
  position: relative;
  top: -5px;
}

#wrapper #container #main .content .stats .asset .radial {
  border-radius: 36px;
  position: absolute;
  height: 55px;
  width: 56px;
  left: 9.5px;
  top: 10px;
}

#wrapper #container #main .content .stats img {
  position: relative;
  width: 53.5px;
  height: 53px;
  left: -.25px;
}

#wrapper #container #main .content .suggestions {
  background-color: transparent;
  text-align: left;
  font-size: 10px;
  padding: 15px;
  width: 180px;
}

#wrapper #container #main .content .suggestions .radial {
  border-radius: 36px;
  position: absolute;
  height: 25px;
  width: 26px;
  z-index: 1;
}

#wrapper #container #main .content .suggestions .id {
  position: relative;
  height: 24px;
  width: 24.5px;
  right: 10px;
}

#wrapper #container #main .content .suggestions .combine {
  align-items: center;
  display: flex;
  width: 100%;
  margin: 3px;
}

#wrapper #container #main .content .suggestions .combine div {
  background-color: transparent;
}

#wrapper #container #main .center .item .views {
  position: absolute;
  bottom: -30px;
  right: 30px;
}

#wrapper #container #main .center .item #yt .yt {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 54.25%;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}

#wrapper #container #main .center .item #yt .yt iframe {
  position: absolute;
  border: none;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 0;
}

#wrapper #container #main #top #arm #search #match .listing .index:first-child:hover:after,
#wrapper #container #main #visit .page #front #first .listing .index:first-child:hover:after {
  border-color: transparent transparent #eee transparent;
}

#wrapper #container #main #top #arm #search #match .listing .hover:first-child:not(:hover):after,
#wrapper #container #main #visit .page #front #first .listing .hover:first-child:not(:hover):after {
  border-color: transparent transparent #eee transparent;
}

.contrast:first-child:hover:before {
  border-color: transparent transparent #222 transparent;
}

.contrast:first-child:hover:after {
  border-color: transparent transparent #222 transparent;
}

.contrast:first-child:not(:hover):after {
  border-color: transparent transparent #000 transparent;
}

.contrast:first-child:not(:hover):before {
  border-color: transparent transparent #000 transparent;
}

#wrapper #container #main #top #arm #search #match .listing .index:first-child:before,
#wrapper #container #main #visit .page #front #first .listing .index:first-child:before {
  content: "";
  position: absolute;
  left: 44px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #eee transparent;
  z-index: 3;
}

#wrapper #container #main #top #arm #search #match .listing .index:first-child:after,
#wrapper #container #main #visit .page #front #first .listing .index:first-child:after {
  content: "";
  position: absolute;
  left: 45px;
  top: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #fff transparent;
  z-index: 4;
}

#wrapper #container #main #top #arm #search #match .listing .background,
#wrapper #container #main #visit .page #front #first .listing .background {
  height: calc(27.2em - 2px);
  width: calc(100% - 1px);
  position: absolute;
  z-index: -1;
  top: 12px;
}

#wrapper #container #main #top #arm #search #match .listing {
  background-color: transparent;
  height: calc(27.2em);
  position: relative;
  padding-top: 12px;
  text-align: left;
  overflow-y: auto;
  margin: 0 auto;
  width: 18em;
}

#wrapper #container #main #top #arm #search #match .listing .detail,
#wrapper #container #main #visit .page #front #first .listing .detail {
  height: 100%;
  width: 100%;
}

#wrapper #container #main #top #arm #search #match .listing .index,
#wrapper #container #main #visit .page #front #first .listing .index {
  border-bottom: none !important;
  width: calc(100% - 16px);
  padding-bottom: 12px;
  position: relative;
  padding-left: 12px;
  padding-top: 12px;
  font-size: 12px;
  height: 3em;
  margin: 2px;
}

.contrast.hover {
  background-color: #222 !important;
  color: #fff !important;
}

.contrast {
  background-color: #000 !important;
  color: #fff !important;
}

.visual.hover {
  background-color: #eee !important;
  color: #666 !important;
}

.visual {
  background-color: #fff !important;
  color: #666 !important;
}

#wrapper #container #main #top #arm #search #match .listing .hover,
#wrapper #container #main #visit .page #front #first .listing .hover {
  border-bottom: none !important;
  width: calc(100% - 16px);
  padding-bottom: 12px;
  padding-left: 12px;
  padding-top: 12px;
  font-size: 12px;
  height: 3em;
  margin: 2px;
}
