@font-face {
  font-family: Proxima Nova;
  src: url(https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/fonts/ProximaNova-Regular.woff);
}

video {
  position: relative;
  width: 100%;
}

::placeholder {
  color: var(--fill-color);
}

div,
input {
  font-family: Proxima Nova;
}

a {
  color: var(--fill-color);
  text-decoration: none !important;
}

*,*:focus,*:hover{
    outline:none !important;
}

html,
#main,
html body,
#container,
#main #visit {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border:none !important;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

html,
html body,
#container {
  background: var(--color-secondary);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#main #progressBar {
  background-color: var(--loader-color);
  position: absolute;
  height: 4px;
  z-index: 12;
  width: 0;
  left: 0;
  top: 0;
}

#container #toggle {
  color: var(--fill-color);
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  padding: 15px;
  right: 2px;
  z-index: 12;
  top: 7px;
}

#main {
  background-color: var(--borderless-color);
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  overflow-y: scroll;
  display: flex;
}

#main #top {
  background-color: transparent;
  width: 70% !important;
  position: fixed;
  display: none;
  height: 57px;
  z-index: 7;
  top: 0;
}

#main #top #arm {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 60px;
}

#main #option {
  color: var(--fill-color);
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  user-select: none;
  cursor: pointer;
  display: none;
  z-index: 2;
  top: 5px;
}

#main #check {
  background-color: transparent;
  color: var(--fill-color);
  margin-left: 10px;
  position: absolute;
  font-size: 11px;
  position: fixed;
  display: none;
  z-index: 12;
}

#main #check .loader {
  position: relative;
  margin: 0 auto;
}

#main #visit {
  justify-content: center;
  align-items: center;
  display: none;
  height: 100%;
}

#main #visit #page {
  background-color: transparent;
  position: relative;
  top: 45px;
  margin: 0 auto;
  display: block;
}

#main #dots {
  position: fixed;
}

#main #dots .fill {
  background-color: var(--fill-color) !important;
  visibility: hidden;
  z-index: -12;
  left: -4px;
  top: 0;
}

#main #visit #page #front #label #show {
  color: var(--fill-color);
  background-color: transparent;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  margin: 0 auto;
  z-index: 0;
  left: 1px;
  top: 25px;
}

#main #visit #page #front #label #link {
  background-color: var(--hover-background-color);
  color: var(--fill-color);
  border: var(--borderless-color);
  transform: rotate(180deg);
  justify-content: center;
  display: inline-flex;
  border-radius: 20px;
  align-items: center;
  position: absolute;
  margin-left: 45px;
  margin-top: 15px;
  padding: 10px;
  height: 15px;
  width: 15px;
}

#main #visit #page #front #label #link:hover {
  background-color: var(--borderless-color);
}

#main #visit #page #just {
  background-color: transparent;
  position: relative !important;
  border: var(--border-color);
  color: var(--fill-color);
  display: inline-block;
  border-radius: 12px;
  padding-right: 20px;
  padding-left: 20px;
  letter-spacing: 0;
  margin: 0 auto;
  font-size: 10px;
  cursor: pointer;
  top: -85px;
}
