@font-face {
  src: url(../fonts/ProximaNova-Regular.woff);
  font-family: Proxima Nova;
  font-display: block;
}

.item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  margin-bottom: 2em;
  padding: 1px;
  width: 99%;
}

.type,
.item .id {
  height: 28px;
  width: 28px;
}

.quick {
  border-radius: 2px;
  position: relative;
  margin: 25px auto;
  height: 7.5em;
  width: 99%;
}

.feed {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  position: relative;
  border-radius: 2px;
  overflow-y: hidden;
  overflow-x: scroll;
  font-size: 10px;
  display: flex;
  height: 100%;
  width: 100%;
}

svg {
  position: absolute;
  height: 72px;
  width: 72px;
}

svg .border {
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  stroke-linecap: round;
  position: absolute;
  stroke-width: 2;
  fill: none;
}

.right {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  width: 1.5em;
  height: 100%;
  right: -1px;
  z-index: 2;
  top: 1px;
}

.left {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  width: 1.5em;
  height: 100%;
  z-index: 2;
  left: -1px;
  top: 1px;
}

.asset {
  position: relative;
  text-align: center;
  padding-left: 7px;
  padding-top: 15px;
  flex-shrink: 0;
}

.asset a {
  display: block;
}

.id {
  border-radius: 36px;
  position: relative;
  padding: 1px;
  margin: 10px;
  height: 50px;
  width: 50px;
}

.header {
  height: 70px;
  width: 100%;
}

.courtesy {
  text-transform: capitalize;
  align-items: center;
  position: relative;
  width: fit-content;
  margin-top: 5px;
  font-size: 10px;
  display: flex;
  height: 50px;
  left: 0;
}

.fill {
  margin-left: 30px !important;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  display: flex;
  height: 7em;
}

#guide,
.blur {
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 3;
  margin: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.blur {
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(4px);
  -webkit-filter: blur(4px);
  filter: blur(4px);
  z-index: -1;
}

.sticky {
  align-items: center;
  position: relative;
  min-width: 30%;
  display: table;
}

.sticky .item {
  display: table-cell !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0;
}

.sticky .wrap {
  display: table-cell !important;
  vertical-align: top;
  width: 300px;
  height: 100%;
}

.sticky .pub {
  height: calc(100% - 50px);
  position: relative;
  padding: 10px;
  width: 300px;
}

.sticky .ts {
  position: absolute;
  width: 300px;
  bottom: 40px;
}

.sticky .tag {
  position: absolute;
  width: 300px;
  bottom: 0;
}

.item .pub,
.item .add {
  justify-content: left;
  width: 95% !important;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 13px;
  left: 0;
}

.item .pub {
  display: inline-block;
  margin-bottom: 5px;
}

.more {
  background-color: transparent;
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  padding-top: 5px;
  font-size: 13px;
  color: #aaa;
}

.item .add {
  margin-left: 15px !important;
  margin-bottom: 10px;
  font-size: 12px;
  width: 85%;
}

.img,
.image {
  position: relative;
}

.item .tag {
  min-width: 38% !important;
  position: relative;
  width: 100%;
}

.post {
  margin-right: 10px;
  position: relative;
  color: lightcyan;
  font-size: 12px;
  float: right;
  top: -27px;
}

.addComment {
  margin-top: 5px;
  margin: 0;
}

.comment {
  font-family: Proxima Nova;
  padding: 1em;
  border: none;
  clear: left;
  width: 100%;
}

.comment::placeholder {
  font-size: 12px;
  color: #aaa;
}

.url,
.share,
.source {
  display: inline-block;
  position: relative;
  z-index: -2;
  width: 10px;
  height: 0;
}

.copy {
  font-size: 12px;
  padding: 23px;
  float: right;
}

.wrap {
  width: 95% !important;
  flex-wrap: wrap;
  display: flex;
}

.ago {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  width: fit-content;
  margin-left: 12px;
  font-size: 9px;
  color: #e4e4e4;
}

#bottom {
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  bottom: 1.95em;
  display: flex;
  height: 5em;
  width: 100%;
}

.previous {
  float: left !important;
}

.bottom {
  position: relative !important;
  margin: 0 auto !important;
  display: inline-block;
  width: 24px;
}

.next {
  float: right !important;
}

.center {
  display: inline-block;
  position: relative;
  overflow-y: scroll;
  margin-right: 5px;
  text-align: left;
}

.content {
  display: inline-block;
  height: fit-content;
  vertical-align: top;
  text-align: left;
  position: sticky;
  font-size: 10px;
  padding: 15px;
  width: 150px;
  top: 8px;
}

.stats {
  align-items: center;
  margin-bottom: 2em;
  text-align: left;
  font-size: 10px;
  height: 120px;
  display: flex;
  width: 230px;
}

.stats .id {
  border: 1px solid #ccc;
  padding: 4px;
}

.queue {
  display: inline-block;
}

.suggestions {
  height: fit-content;
  text-align: left;
  font-size: 10px;
  padding: 15px;
  width: 200px;
  top: 215px;
}

.suggestions .id {
  height: 24px;
  width: 24px;
}

.combine {
  align-items: center;
  display: flex;
  width: 100%;
  margin: 5px;
}

.views {
  position: absolute;
  bottom: -30px;
  right: 30px;
}

.yt {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 54.25%;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}

iframe {
  position: absolute;
  border: none;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 0;
}
