.quick {
  border-radius: 2px;
  position: relative;
  margin: 25px auto;
  height: 7.5em;
  width: 100%;
}

.feed {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  overflow-x: auto;
  font-size: 10px;
  display: flex;
  height: 100%;
  width: 100%;
}

.feed::-webkit-scrollbar {
  display: none;
}

svg {
  position: absolute;
  height: 72px;
  width: 72px;
}

svg .border {
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  stroke-linecap: round;
  position: absolute;
  stroke-width: 2;
  fill: none;
}

.right {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  border-radius: 16px;
  padding: 4px;
  height: 24px;
  width: 24px;
  z-index: 1;
  right: 0;
  top: 40px;
}

.left {
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  border-radius: 16px;
  padding: 4px;
  height: 24px;
  width: 24px;
  z-index: 1;
  left: -1px;
  top: 40px;
}

.asset {
  position: relative;
  text-align: center;
  padding-left: 9px;
  padding-top: 15px;
  flex-shrink: 0;
}

.asset a {
  display: block;
}

.id {
  border-radius: 36px;
  position: relative;
  padding: 1px;
  margin: 10px;
  height: 50px;
  width: 50px;
}

.header {
  height: 70px;
  width: 100%;
}

.courtesy {
  text-transform: capitalize;
  align-items: center;
  position: relative;
  width: fit-content;
  margin-top: 5px;
  font-size: 10px;
  display: flex;
  height: 50px;
  left: 0;
}

.fill {
  margin-left: 30px !important;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  display: flex;
  height: 7em;
}

.classic .wrap {
  margin-left: 10px;
}

.sticky {
  align-items: center;
  position: relative;
  display: table;
}

.sticky .item {
  display: table-cell !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0;
}

.sticky .wrap {
  display: table-cell !important;
  vertical-align: top;
  width: 300px;
  height: 100%;
}

.sticky .pub {
  height: calc(100% - 50px);
  font-size: 13px;
  padding: 10px;
  width: 300px;
}

.sticky .ago {
  position: absolute;
  width: 300px;
  bottom: 40px;
  margin: 5px;
}

.sticky .tag {
  position: absolute;
  width: 300px;
  bottom: 0;
}

.item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  margin-bottom: 2em;
  width: 100%;
}

.item .id {
  height: 28px;
  width: 28px;
}

.item .pub,
.item .add {
  justify-content: left;
  width: 95% !important;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 13px;
  left: 0;
}

.item .pub {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.item .tag {
  min-width: 38% !important;
  position: relative;
  width: 100%;
}

.item .add {
  margin-left: 15px !important;
  margin-bottom: 10px;
  font-size: 12px;
  width: 85%;
}

.img,
.image {
  position: relative;
}

.img {
  position: relative;
  max-width: 100%;
  max-height: 90vh;
  margin: 0 auto;
}

.image {
  right: 0;
  left: 0;
}

.more {
  background-color: transparent;
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  padding-top: 5px;
  font-size: 13px;
  color: #aaa;
}

.post {
  margin-right: 10px;
  position: relative;
  color: lightcyan;
  font-size: 12px;
  float: right;
  top: -27px;
}

.addComment {
  margin-top: 5px;
  margin: 0;
}

.comment {
  font-family: Proxima Nova;
  padding: 1em;
  border: none;
  clear: left;
  width: 100%;
}

.comment::placeholder {
  font-size: 12px;
  color: #aaa;
}

.url,
.share,
.source {
  display: inline-block;
  position: relative;
  z-index: -2;
  width: 10px;
  height: 0;
}

.copy {
  font-size: 12px;
  padding: 23px;
  float: right;
}

.wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  width: 95% !important;
  flex-wrap: wrap;
  display: flex;
}

.external {
  text-transform: lowercase;
  padding-bottom: 10px;
  margin-left: 10px;
  font-size: 10;
  width: 98%;
}

.ago {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  width: fit-content;
  margin-left: 12px;
  font-size: 9px;
  color: #e4e4e4;
}

#bottom {
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
  bottom: 1.95em;
  display: flex;
  height: 5em;
  width: 100%;
}

.bottom {
  position: relative !important;
  margin: 0 auto !important;
  font-family: Billabong;
  display: inline-block;
  font-size: 28px;
}

.previous {
  float: left !important;
}

.next {
  float: right !important;
}

.center {
  display: inline-block;
  position: relative;
  text-align: left;
  top: 60px;
}


.content {
  display: inline-block;
  height: fit-content;
  vertical-align: top;
  text-align: left;
  position: sticky;
  font-size: 10px;
  padding: 15px;
  width: 150px;
  top: 68px;
}

.stats {
  align-items: center;
  margin-bottom: 2em;
  text-align: left;
  font-size: 10px;
  height: 120px;
  display: flex;
  width: 230px;
}

.stats .id {
  border: 1px solid #ccc;
  padding: 4px;
}

.queue {
  display: inline-block;
}

.suggestions {
  height: fit-content;
  text-align: left;
  font-size: 10px;
  padding: 15px;
  width: 200px;
  top: 215px;
}

.suggestions .id {
  height: 24px;
  width: 24px;
}

.combine {
  align-items: center;
  display: flex;
  width: 100%;
  margin: 5px;
}

.views {
  position: absolute;
  bottom: -30px;
  right: 30px;
}

.yt {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 54.25%;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}

iframe {
  position: absolute;
  border: none;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 0;
}

.index:first-child:hover:after {
  border-color: transparent transparent #eee transparent;
}

.hover:first-child:not(:hover):after {
  border-color: transparent transparent #eee transparent;
}

.contrast:first-child:hover:before {
  border-color: transparent transparent #222 transparent;
}

.contrast:first-child:hover:after {
  border-color: transparent transparent #222 transparent;
}

.contrast:first-child:not(:hover):after {
  border-color: transparent transparent #000 transparent;
}

.contrast:first-child:not(:hover):before {
  border-color: transparent transparent #ccc transparent;
}

.index:first-child:before {
  content: "";
  position: absolute;
  left: 44px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #eee transparent;
  z-index: 3;
}

.index:first-child:after {
  content: "";
  position: absolute;
  left: 45px;
  top: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #fff transparent;
  z-index: 4;
}

.listing {
  background-color: #tranparent;
  position: relative;
  padding-top: 12px;
  text-align: left;
  overflow-y: auto;
  margin: 0 auto;
  height: 28em;
  width: 18em;
  z-index: 0
}

.index:last-child {
  border-bottom: 1px solid #ddd !important;
}

.index {
  background-color: #fff;
  border-bottom: none !important;
  padding-bottom: 15px;
  position: relative;
  padding-top: 15px;
  font-size: 12px;
  height: 2.5em;
  width: 100%;
}

.hover:last-child {
  border-bottom: 1px solid #eee !important;
}

.contrast.hover {
  background-color: #222 !important;
  color: #fff !important;
}

.contrast {
  background-color: #000 !important;
  color: #fff !important;
}

.visual.hover {
  background-color: #eee !important;
  color: #666 !important;
}

.visual {
  background-color: #fff !important;
  color: #666 !important;
}

.hover {
  border-bottom: none !important;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 12px;
  height: 2.5em;
  width: 100%;
}
