.fa {
  display: inline-block;
  cursor: pointer;
  z-index: -1
}

#sidebar #content .fa:not(.fas):not(.fa-braille):not(.fa-adjust):not(.fa-cube):not(.fa-tint) {
  color: var(--fill-color-primary);
  position: relative;
  margin-top: -22px !important;
  font-weight: 50;
  font-size: 10px;
  float: right;
  height: 15px;
  width: 15px;
  z-index: -1;
  right: 8px;
}

.fas,
#sidebar #content .fa-check,
#sidebar #content .fa-circle-notch {
  color: var(--fill-color-primary);
  position: relative;
  margin-top: -18px !important;
  font-weight: 50;
  font-size: 10px;
  float: right;
  height: 15px;
  width: 15px;
  z-index: -1;
  right: 8px;
}

#sidebar #content .parse .fa-tint {
  position: relative;
  font-weight: 50;
  font-size: 10px;
  float: right;
  z-index: -1;
  right: 15px;
}

#sidebar #content .set .fa-cube {
  position: relative;
  font-weight: 50;
  font-size: 10px;
  float: right;
  z-index: -1;
  right: 13px;
}

#sidebar #content .themes .fa-braille {
  position: relative;
  font-weight: 50;
  font-size: 10px;
  float: right;
  z-index: -1;
  right: 11px;
}

#sidebar #content .bg .fa-adjust {
  position: relative;
  font-weight: 50;
  font-size: 10px;
  float: right;
  z-index: -1;
  right: 12px;
}

#main #option .fa-home,
#main #option .fa-camera-retro,
#main #option .fa-heart,
#main #option .fa-sun,
#main #option .fa-terminal,
#main #option .fa-expand-alt {
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 17px;
  font-size: 17px;
}

#main #option .fa-code {
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 15px;
  font-size: 20px;
}

#main #option .fa-expand-alt {
  font-family: "Font Awesome 5 Pro";
  content: "\f424";
  font-weight: 50;
}

#sidebar #content .fa-home,
#main #top #arm #option .fa-home,
#main #option .fa-home {
  font-family: "Font Awesome 5 Pro";
  content: "\f015";
  font-weight: 50;
}

#main #option .fa-camera-retro {
  font-family: "Font Awesome 5 Pro";
  content: "\f083";
  font-weight: 50;
}

#main #toggle,
#main #option .fa-sun {
  font-family: "Font Awesome 5 Pro";
  content: "\f185";
  font-weight: 50;
}

#sidebar #content .fa-terminal,
#main #option .fa-terminal {
  font-family: "Font Awesome 5 Pro";
  padding-left: 5px;
  content: "\f120";
  font-size: 10px;
  font-weight: 50;
}

#main #option .fa-code,
#sidebar #content .fa-code {
  font-family: "Font Awesome 5 Pro";
  content: "\f121";
  font-weight: 50;
}

#main #option .fa-heart,
#sidebar #content .fa-heart {
  font-family: "Font Awesome 5 Pro";
  content: "\f004";
  font-weight: 50;
}

#guide .sticky .wrap .header .courtesy .copy .attribute .site .fa-camera,
#main #xml .center .item .header .courtesy .copy .attribute .site .fa-camera {
  font-family: "Font Awesome 5 Pro";
  background-color: transparent !important;
  content: "\f030";
  font-weight: 50;
  padding: 0;
}

#guide .sticky .wrap .header .courtesy .copy .attribute .site .fa-share,
#main #xml .center .item .header .courtesy .copy .attribute .site .fa-share {
  font-family: "Font Awesome 5 Pro";
  background-color: transparent !important;
  content: "\f064";
  font-weight: 50;
  padding: 0;
}

#guide .sticky .wrap .header .courtesy .copy .attribute .site .fa-at,
#main #xml .center .item .header .courtesy .copy .attribute .site .fa-at {
  font-family: "Font Awesome 5 Pro";
  background-color: transparent !important;
  content: "\f1fa";
  font-weight: 50;
  padding: 0;
}

#main #visit #page #quick .fa-minus {
  font-family: "Font Awesome 5 Pro";
  pointer-events: auto;
  content: "\f068";
  padding-top: 8px;
  font-weight: 50;
  font-size: 11px;
}

#main #visit #page #quick .fa-plus {
  font-family: "Font Awesome 5 Pro";
  content: "\f067";
  font-size: 11px;
  font-weight: 50;
}

#top #arm #search #input .icon .fa-search,
#main #visit #page #front .focus .icon .fa-search,
#main #visit #page #front .focus .button .fa-search {
  font-family: "Font Awesome 5 Pro";
  content: "\f002";
  font-weight: 50;
}

#sidebar #content #category .cat .fa-ellipsis-h,
#guide .sticky .header .fa-ellipsis-h,
#main #xml .center .channel .item .header .fa-ellipsis-h {
  font-family: "Font Awesome 5 Pro";
  pointer-events: auto;
  content: "\f141";
  font-weight: 50;
}

#guide .sticky .header .fa-ellipsis-v,
#main #xml .center .channel .item .header .fa-ellipsis-v {
  font-family: "Font Awesome 5 Pro";
  pointer-events: auto;
  content: "\f142";
  font-weight: 50;
}

#guide .sticky .fa-heart,
#main #option .fa-heart,
#sidebar #content .fa-heart,
#main #xml .center .item .classic .image .fa-heart {
  color: lightcoral !important;
}

#sidebar #content .fa-exclamation-circle {
  font-family: "Font Awesome 5 Pro";
  content: "\f06a";
  font-weight: 50;
}

#sidebar #content .bg .fa-cloud {
  left: -10px;
}

#sidebar #content .fa-signal {
  font-family: "Font Awesome 5 Pro";
  content: "\f012";
  font-weight: 50;
}

#sidebar #content .fa-adjust {
  font-family: "Font Awesome 5 Pro";
  content: "\f042";
  font-weight: 50;
  left: -13px;
}

#sidebar #content .fa-level-up-alt {
  left: -5px;
}

#sidebar #content .fa-ellipsis-h {
  left: -6px;
}

#sidebar #content .fa-th-large {
  font-family: "Font Awesome 5 Pro";
  content: "\f0ca";
  font-weight: 50;
}

#sidebar #content .fa-list-ul {
  font-family: "Font Awesome 5 Pro";
  content: "\f009";
  font-weight: 50;
}

#sidebar #content .fa-chart-pie {
  font-family: "Font Awesome 5 Pro";
  content: "\f200";
  font-weight: 50;
}

#sidebar #content .fa-photo {
  font-family: "Font Awesome 5 Pro";
  content: "\f03e";
  font-weight: 50;
}

#sidebar #content .fa-star-o {
  font-family: "Font Awesome 5 Pro";
  content: "\f006";
  font-weight: 50;
}

#sidebar #content .fa-edit {
  font-family: "Font Awesome 5 Pro";
  content: "\f044";
  font-weight: 50;
}

#sidebar #content .fa-tablet-alt {
  font-family: "Font Awesome 5 Pro";
  content: "\f3fa";
  font-weight: 50;
}

#sidebar #content .fa-braille {
  font-family: "Font Awesome 5 Pro";
  content: "\f2a1";
  font-weight: 50;
}

#main #page .fa-angle-up {
  font-family: "Font Awesome 5 Pro";
  content: "\f106";
  font-weight: 50;
}
