@media screen and (max-width: 425px) {

  #home,
  .left,
  .right,
  ::-webkit-scrollbar {
    display: none !important;
  }

  #main {
    height: calc(100% - 100px);
  }

  #main .center,
  #main .channel {
    width: 100% !important;
    margin: 0;
  }

  #main .item,
  #main .feed {
    box-shadow: none !important;
    border: none !important;
  }

  #option {
    width: calc(100% - 20px) !important;
    top: calc(100% - 40px) !important;
    position: fixed !important;
    height: 35px !important;
    left: 10px !important;
    z-index: 2;
  }

  #main .air .populate,
  #main .result .filter,
  #main .result .populate {
    margin: 1em;
    width: 32%;
  }

  #main .content {
    display: none !important;
  }

  #main .center .quick .right,
  #main .center .quick .left {
    display: none !important;
  }

  #main #visit #page #front input[type=text],
  #main #visit #page #front #first .listing {
    width: 16em !important;
  }

  #main #visit #page #front .icon {
    display: none !important;
  }

  #guide .sticky .wrap {
    display: none !important;
  }

  #page {
    margin-top: -300px !important;
  }
}

@media screen and (min-width: 768px) {
  #main .center {
    left: -95px !important;
    width: 50% !important;
  }

  #arm {
    width: 100% !important;
  }

  #main .air .populate,
  #main .result .filter,
  #main .result .populate {
    margin: 2em;
    width: 16%;
  }

  #main .result,
  #main .air {
    width: 100% !important;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  #page .icon {
    left: 120px;
  }

  #option {
    margin-left: 70px;
  }

  .content {
    margin-left: -75px !important;
  }
}

@media screen and (min-width: 1440px) {
  #container {
    width: 100% !important;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  #arm {
    width: 65% !important;
  }

  #main .center {
    width: 40% !important;
  }

  #main .result,
  #main .air {
    width: 60% !important;
    position: relative;
    display: block;
    margin: 0 auto;
  }

}

@media screen and (min-width: 2560px) {
  #container {
    width: 100% !important;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  #arm {
    width: 45% !important;
  }

  #main .center {
    width: 45% !important;
  }

  #main .result,
  #main .air {
    width: 60% !important;
    position: relative;
    display: block;
    margin: 0 auto;
  }
}
