@media screen and (max-width: 426px) {


  html body #container #main {
    width: 100% !important
  }

  html body #container #main #visit #page .quick .feed .asset,
  html body #container #main #visit #page .quick .feed .translation {
    background-color: transparent !important;
  }

  html body #container #main #visit #page .quick {
    background-color: transparent;
    position: absolute;
    height: 400px;
    width: 100%;
    top: 120px;
  }

  html body #container #main #visit #page .quick .feed {
    background-color: transparent;
    justify-content: center;
    display: inline-flex;
    position: absolute;
    margin-right: 0%;
    flex-wrap: wrap;
    margin-left: 0%;
    height: 400px;
    right: 0;
    left: 0;
  }

  html body #container #main #visit #page .quick .feed .translation {
    background-color: transparent !important;
  }

  html body #container #main #visit #page #front #label {
    margin-top: -185px;
  }

  .expand .title {
    flex-basis: 50% !important;
  }

  .expand .blank {
    margin-right: 5px !important;
  }

  .expand .hash, .expand .description,
  html body #container #main #top #arm #option,
  html body #container #main #visit #page .quick .right,
  html body #container #main #feed .center .quick,
  html body #container #main #visit #page .quick .left,
  html body #container #main #feed .content,
  html body #container #main #visit #page #front .focus .button,
  ::-webkit-scrollbar {
    display: none !important;
  }

  html body #container #main #visit #page #handle {
    visibility: hidden;
    height: 250px;
  }

  html body #container #main #visit #page #mobile {
    position: absolute;
    display: block;
    z-index: 0;
    left: 10px;
    top: 250px;
  }

  html body #container #main #page,
  html body #container #main #visit {
    height: 100%;
    width: 100%;
    top: 0;
  }

  html body #container #main #top,
  html body #container #main #top #arm,
  html body #container #main #top #arm #search {
    background: transparent !important;
    width: 100%;
  }

  html body #container #main #feed .center {
    margin-left: 0;
    width: 100%;
    top: 60px;
	  left: 0;
  }

  html body #container #main #feed .center .item {
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-bottom: 1.5em;
  }

  html body #container #main #option {
    width: calc(100% - 20px);
    top: calc(100% - 50px);
    position: fixed;
    height: 50px;
    right: 10px;
  }

  html body #container #main #group .air .populate,
  html body #container #main #group .result .filter,
  html body #container #main #group .result .populate {
    margin: 1em;
    width: 32%;
  }

  html body #container #main #group .air,
  html body #container #main #group .result {
    width: 100% !important
  }

  html body #container #main #visit #page #front #first {
    width: 300px;
  }

  html body #container #main #visit #page #front #first .listing {
    position: relative;
    padding-left: 0;
    margin: 0 auto;
    top: -5px;
  }

  html body #container #top #arm #search #match .listing {
    margin: 0 auto;
    top: 0;
  }

  html body #container #main #visit #page #front .focus {
    margin: 0 auto;
    width: 300px;
    padding: 0;
    top: -175px;
  }

  html body #container #main #visit #page #front .focus input[type=text] {
    padding-left: 10px;
    width: 300px;
    top: 0px;
  }

  html body #container #guide .sticky {
    width: 100% !important;
  }

  html body #container #guide .sticky .src {
    width: 100% !important;
    display: block;
  }

  html body #container #guide .sticky .src img {
    max-width: 100% !important;
    width: 100% !important;
  }

  html body #container #guide .sticky #yt {
    display: block !important;
    width: 100% !important;
  }

  html body #container #guide .sticky .yt {
    display: block !important;
    width: 100%;
  }

  html body #container #guide .yt .wrap {
    display: none !important;
  }

}

@media screen and (min-width: 768px) {

  html body #container #main #option {
    display: none;
  }

  html body #container #main #top #arm #option {
    display: block;
  }

  html body #container #main #top #arm #search .fa-map {
    position: absolute;
    font-size: 32px;
    display: block;
    left: 25px;
    top: 10px;
  }

  html body #container #main #visit #page #handle {
    top: -50px;
  }

  html body #container #main #visit #page #mobile {
    display: none;
  }

  html body #container #main #top {
    width: 100%;
  }

  html body #container #main #top #arm {
    width: 100%;
  }

  html body #container #main #top #arm #option {
    position: absolute;
    right: 25px;
  }

  html body #container #main #top #arm #search #home {
	  left: 10px;
  }

  html body #container #main #feed .center {
	  margin-right: 50px;
    width: 420px;
    left: -10px;
  }

  html body #container #main #feed .content {
	display: none;
  }

  html body #container #main #visit #page {
    top: -45px;
  }

  html body #container #main #visit #page .quick {
  	width: 720px;
	  left: 0;
  }
  html body #container #main #group .air,
  html body #container #main #group .result {
	margin: 0 auto;
	width: 80%;
  }

}

@media screen and (min-width: 769px) {

  html body #container #main #option {
    display: none;
  }

  html body #container #main #top {
    width: calc(100% - 16px);
  }

  html body #container #main #top #arm {
    width: 90%;
  }

  html body #container #main #top #arm #option {
    position: absolute;
    display: block;
    right: 70px;
  }

  html body #container #main #top #arm #search #home {
	  left: -15px;
  }

  html body #container #main #feed .center {
	margin-right: 60px;
    width: 420px;
	left: -20px;
  }

  html body #container #main #feed .content {
	display: inline-block;
  }

  html body #container #main #visit #page .quick {
	  width: 686px;
	  left: -15px;
  }

}
@media screen and (min-width: 1025px) {

  html body #container {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  html body #container #toggle {
    right: 2em;
    top: .5em;
  }

  html body #container #sidebar {
    display: block;
  }

  html body #container #main #progressBar {
    max-width: calc(100% - 16px);
  }

  html body #container #main #visit #page {
    top: 15px;
  }

  html body #container #main #top {
    width: calc(100% - 16px);
  }

  html body #container #main #top #arm {
    width: 940px;
  }

  html body #container #main #top #arm #search #home {
    left: -35px;
  }

  html body #container #main #top #arm #option {
    right: -9px;
  }

  html body #container #main #feed .center {
    margin-left: 60px;
    width: 600px;
  }

  html body #container #main #group .air,
  html body #container #main #group .air .populate,
  html body #container #main #group .result .filter,
  html body #container #main #group .result .populate {
    width: 156px;
    margin: 2em;
  }

  html body #container #main #group .air,
  html body #container #main #group .result {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1200px;
  }

  html body #container #main #visit #page #front {
    width: 940px;
  }

  html body #container #main #visit #page .quick {
    position: relative;
    width: 850px;
    top: 15px;
    left: 0;
  }

  html body #container #main #feed .content {
    margin-left: 10px;
  }
}
