@media screen and (max-width: 426px) {

  html body #wrapper #container #main #top #search #home,
  html body #wrapper #container #main #visit #page .quick .right,
  html body #wrapper #container #main #feed .center .quick .fa-angle-double-right,
  html body #wrapper #container #main #visit #page .quick .fa-angle-double-right,
  html body #wrapper #container #main #feed .center .quick .left,
  html body #wrapper #container #main #visit #page .quick .left,
  html body #wrapper #container #main #feed .center #bottom .previous,
  html body #wrapper #container #main #feed .center #bottom .next,
  html body #wrapper #container #main #visit #page #front .focus .button,
  html body #wrapper #container #main #visit #page #front .focus .icon,
  ::-webkit-scrollbar {
    display: none;
  }

  html body #wrapper #container #main #visit #page #front {
    top: 200px;
  }

  html body #wrapper #container #main #page,
  html body #wrapper #container #main #visit {
   height: 100%;
   width: 100%;
   top: 0;
  }

  html body #wrapper #container #main #top,
  html body #wrapper #container #main #arm {
    width: 100%;
  }

  html body #wrapper #container #main #feed .center {
    margin-left: 0;
    width: 100%;
    top: 60px;
	  left: 0;
  }

  html body #wrapper #container #main #feed .center .item,
  html body #wrapper #container #main #feed .center .feed {
    box-shadow: none;
    border: none;
  }

  html body #wrapper #container #main #top #arm #option {
    width: calc(100% - 20px);
    top: calc(100% - 50px);
    position: fixed;
    height: 50px;
    right: 10px;
  }

  html body #wrapper #container #main #group .air .populate,
  html body #wrapper #container #main #group .result .filter,
  html body #wrapper #container #main #group .result .populate {
    margin: 1em;
    width: 32%;
  }

  html body #wrapper #container #main #visit #page #front #first .listing {
    position: relative;
    margin: 0 auto;
  }

  html body #wrapper #container #top #arm #search #match .listing {
    margin: 0 auto;
    top: 0
  }

  html body #wrapper #container #main #visit #page #front .focus {
    margin: 0 auto;
    width: 300px;
    padding: 0;
    top: 12px;
  }

  html body #wrapper #container #main #visit #page #front input[type=text] {
    padding-left: 10px;
    width: 300px;
    top: 0px;
  }

  html body #wrapper #container #main #visit #page .quick {
      position: relative;
      width: 330px;
      left: -10px;
      z-index: 3;
      top: 0;
  }

  html body #wrapper #container #main #visit #page #front #first .listing {
    padding-left: 0;
    width: 300px;
  }

}

@media screen and (min-width: 425px) and (max-width: 426px) {

  html body #wrapper #container #main #visit #page #front .focus .button,
  html body #wrapper #container #main #visit #page #front .focus .icon {
    display: inline-block;
  }

  html body #wrapper #container #main #visit #page #front .focus .button{
    top: 1px;
  }

  html body #wrapper #container #main #visit #page #front .focus .icon {
    top: 13px;
  }

  html body #wrapper #container #main #visit #page #front .focus {
    margin: 0 auto;
    width: 400px;
    padding: 0;
  }

  html body #wrapper #container #main #visit #page #front .focus input[type=text] {
    width: 330px;
    padding: 0;
    top: -12px;
  }

  html body #wrapper #container #main #visit #page #front #first .listing {
    padding-left: 0;
    width: 400px;
  }

  html body #wrapper #container #main #visit #page .quick {
      position: relative;
      width: 410px;
      z-index: 3;
      left: 20px;
      top: 0;
  }

}

@media screen and (min-width: 768px) {

  html body #wrapper #container #main #top {
    width: 100%;
  }

  html body #wrapper #container #main #top #arm {
    width: 90%;
  }

  html body #wrapper #container #main #top #arm #option {
    right: -42px;
  }

  html body #wrapper #container #main #top #arm #search #home {
	left: -15px;
  }

  html body #wrapper #container #main #feed .center {
    width: 660px;
  }

  html body #wrapper #container ##main #feed .content .status {
    width: 280px;
  }

  html body #wrapper #container #main #visit #page {
    top: -125px;
  }

  html body #wrapper #container #main #visit #page .quick {
	width: 686px;
	left: 4px;
  }

}

@media screen and (min-width: 1024px) {

  html body #wrapper #container {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  html body #wrapper #container #toggle {
    right: 2em;
    top: 1em;
  }

  html body #wrapper #container #main #top {
    width: calc(100% - 16px);
  }

  html body #wrapper #container #main #top #arm {
    width: 940px;
  }

  html body #wrapper #container #main #top #arm #search #home {
    left: -17px;
  }

  html body #wrapper #container #main #top #arm #option {
    right: 10px;
  }

  html body #wrapper #container #main #feed .center {
    width: 630px;
  }

  html body #wrapper #container #main #group .air,
  html body #wrapper #container #main #group .air .populate,
  html body #wrapper #container #main #group .result .filter,
  html body #wrapper #container #main #group .result .populate {
    width: 156px;
    margin: 2em;
  }

  html body #wrapper #container #main #group .air,
  html body #wrapper #container #main #group .result {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1200px;
  }

  html body #wrapper #container #main #visit #page #front {
    width: 940px;
  }

  html body #wrapper #container #main #visit #page .quick {
    position: relative;
    width: 686px;
    left: 4px;
    top: 15px;
  }

  html body #wrapper #container #main #feed .content {
    margin-left: 35px;
  }
}
