@media screen and (max-width: 426px) {

  html body #wrapper #container #main #top #search #home,
  html body #wrapper #container #main #visit #page #front .quick .right,
  html body #wrapper #container #main .center .quick .fa-angle-double-right,
  html body #wrapper #container #main #visit #page #front .quick .fa-angle-double-right,
  html body #wrapper #container #main .center .quick .left,
  html body #wrapper #container #main #visit #page #front .quick .left,
  html body #wrapper #container #main .center #bottom .previous,
  html body #wrapper #container #main .center #bottom .next,
  html body #wrapper #container #main #visit #page #front .focus .button,
  html body #wrapper #container #main #visit #page #front .focus .icon,
  ::-webkit-scrollbar {
    display: none;
  }

  html body #wrapper #container #main #visit #page #front {
    top: 200px;
  }

  html body #wrapper #container #main #page,
  html body #wrapper #container #main #visit {
   height: 100%;
   width: 100%;
   top: 0;
  }

  html body #wrapper #container #main #top,
  html body #wrapper #container #main #arm {
    width: 100%;
  }

  html body #wrapper #container #main .center {
    margin-left: 0;
    width: 100%;
    top: 60px;
	  left: 0;
  }

  html body #wrapper #container #main .center .item,
  html body #wrapper #container #main .center .feed {
    box-shadow: none;
    border: none;
  }

  html body #wrapper #container #main #top #arm #option {
    width: calc(100% - 20px);
    top: calc(100% - 50px);
    position: fixed;
    height: 50px;
    right: 10px;
  }

  html body #wrapper #container #main #group .air .populate,
  html body #wrapper #container #main #group .result .filter,
  html body #wrapper #container #main #group .result .populate {
    margin: 1em;
    width: 32%;
  }

  html body #wrapper #container #main #visit #page #front #first .listing {
    margin: 0 auto;
    top: -48px;
  }

  html body #wrapper #container #top #arm #search #match .listing {
    margin: 0 auto;
    top: 0
  }
  html body #wrapper #container #main #visit #page #front .focus {
    margin: 0 auto;
    width: 300px;
    padding: 0;
    top: 12px;
  }

  html body #wrapper #container #main #visit #page #front input[type=text] {
    padding-left: 10px;
    width: 300px;
    top: 0px;
  }

  html body #wrapper #container #main #visit #page #front .quick {
      position: relative;
      width: 330px;
      left: -30px;
      z-index: 3;
      top: 0;
  }

  html body #wrapper #container #main #visit #page #front #first .listing {
    padding-left: 0;
    width: 300px;
  }

}

@media screen and (min-width: 768px) {

  html body #wrapper #container #main #visit #page #front .listing {
    top: -40px;
  }

  html body #wrapper #container #main #top {
    width: calc(100% - 16px);
  }

  html body #wrapper #container #main #top #arm {
    width: 90%;
  }

  html body #wrapper #container #main #top #arm #option {
    margin-left: 85px;
  }

  html body #wrapper #container #main #top #arm #search #home {
	left: 0;
  }

  html body #wrapper #container #main .center {
    width: 430px;
  }

  html body #wrapper #container #main .content,
  html body #wrapper #container #main .content .suggestions {
	width: 220px;
  }

  html body #wrapper #container #main .content .status {
	width: 240px;
  }

  html body #wrapper #container #main #page #front {
    top: -25px;
  }

  html body #wrapper #container #main #visit #page {
    width: 90%;
  }

  html body #wrapper #container #main #visit #page #front .quick {
	width: 720px;
	right: 30px;
  }

}

@media screen and (min-width: 1025px) {

  html body #wrapper #container {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  html body #wrapper #container #toggle {
    right: 2em;
    top: 1em;
  }

  html body #wrapper #container #main #top {
    width: calc(100% - 16px);
  }

  html body #wrapper #container #main #top #arm {
    width: 940px;
  }

  html body #wrapper #container #main #top #arm #search #home {
    left: 25px;
  }

  html body #wrapper #container #main #top #arm #option {
    right: -15px;
  }

  html body #wrapper #container #main .center {
    width: 630px;
  }

  html body #wrapper #container #main #group .air,
  html body #wrapper #container #main #group .air .populate,
  html body #wrapper #container #main #group .result .filter,
  html body #wrapper #container #main #group .result .populate {
    width: 156px;
    margin: 2em;
  }

  html body #wrapper #container #main #group .air,
  html body #wrapper #container #main #group .result {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1200px;
  }

  html body #wrapper #container #main #visit #page #front {
    width: 866px;
  }

  html body #wrapper #container #main #visit #page #front .quick {
    position: relative;
    width: 866px;
    z-index: 3;
    left: 0;
    top: 0;
  }

  html body #wrapper #container #main .content {
    margin-left: 30px;
  }
}
