@media screen and (max-width: 426px) {

  html body #container #main {
    width: 100% !important
  }

  html body #container #toggle {
    display: none;
  }

  html body #container #main #visit #page #quick #feed .asset,
  html body #container #main #visit #page #quick #feed .translation {
    background-color: transparent !important;
  }

  html body #container #main #visit #page #quick {
    background-color: transparent;
    position: absolute;
    height: 400px;
    width: 100%;
    top: 120px;
  }

  html body #container #main #visit #page #quick #feed {
    background-color: transparent;
    justify-content: center;
    display: inline-flex;
    position: absolute;
    margin-right: 0%;
    flex-wrap: wrap;
    margin-left: 0%;
    height: 400px;
    right: 0;
    left: 0;
  }

  html body #container #main #visit #page #front #label {
    position: absolute;
    margin: auto;
    top: 125px;
    right: 0;
    left: 0;
  }

  .expand .title {
    flex-basis: 50% !important;
  }

  .expand .blank {
    margin-right: 5px !important;
  }

  .expand .hash, .expand .description,
  html body #container #main #top #arm #option,
  html body #container #main #visit #page #quick .right,
  html body #container #main #xml .center #quick,
  html body #container #main #visit #page #quick .left,
  html body #container #main #xml .content,
  html body #container #main #visit #page #front .focus .button,
  ::-webkit-scrollbar {
    display: none !important;
  }

  html body #container #main #page,
  html body #container #main #visit {
    height: 100%;
    width: 100%;
    top: 0;
  }

  html body #container #main #top,
  html body #container #main #top #arm,
  html body #container #main #top #arm #search {
    background: transparent !important;
    width: 100vw;
  }

  html body #container #main #xml .center {
    margin-left: 0;
    width: 100%;
    top: 60px;
	  left: 0;
  }

  html body #container #main #xml .center .item {
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-bottom: 1.5em;
  }

  html body #container #main #option {
    width: calc(100% - 20px);
    top: calc(100% - 50px);
    position: fixed;
    display: flex;
    height: 50px;
    right: 10px;
  }

  html body #container #main #group .air .populate,
  html body #container #main #group .result .filter,
  html body #container #main #group .result .populate {
    width: 130px;
    margin: 1em;
  }

  html body #container #main #group {
    position: absolute !important;
    right: 0 !important;
    left: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 95vw !important;
  }

  html body #container #main #visit #page #front #first .listing {
    top: 115px !important;
    padding-top: 5px;
    height: 359px;
    width: 300px;
  }

  html body #container #main #visit #page #front #first .listing {
    position: relative;
    padding-left: 0;
    margin: 0 auto;
    top: -5px;
  }

  html body #container #top #arm #search #match #listing {
    width: 304px !important;
  }

  html body #container #main #visit #page #front .focus {
    margin: 0 auto;
    width: 300px;
    padding: 0;
    top: 75px;
  }

  html body #container #main #visit #page #front .focus input[type=text] {
    padding-left: 10px;
    width: 300px;
    top: 0px;
  }

  html body #container #guide .sticky .src {
    width: 100% !important;
    display: block;
  }

  html body #container #guide .sticky .src img {
    max-width: 100% !important;
    width: 100% !important;
  }

  html body #container #guide .sticky #yt {
    display: block !important;
    width: 100% !important;
  }

  html body #container #guide .yt {
    display: block !important;
    width: 100% !important;
  }

  html body #container #guide .yt .wrap {
    display: none !important;
  }

}

@media screen and (min-width: 768px) {

  html body #container #main #option {
    display: none;
  }

  html body #container #main #top #arm #option {
    display: block;
  }

  html body #container #main #top,
  html body #container #main #top #arm {
    width: 100%;
  }

  html body #container #main #top #arm #option {
    position: absolute;
    right: 0px;
  }

  html body #container #main #top #arm #search #home {
	  left: 10px;
  }

  html body #container #main #xml .center {
	  margin-right: 30px;
    width: 420px;
  }

  html body #container #main #xml .content {
	  display: none;
  }

  html body #container #main #visit #page {
    top: 45px;
  }

  html body #container #main #visit #page #quick {
  	width: 720px;
	  left: 0;
  }
  html body #container #main #group .air,
  html body #container #main #group .result {
	  margin: 0 auto;
	  width: 80%;
  }

  html body #container #guide .sticky .header {
    position: relative !important;
    top: 0 !important;
  }


}

@media screen and (min-width: 769px) {

  html body #container #main #option {
    display: none;
  }

  html body #container #main #progressBar {
    max-width: calc(100% - 16px);
  }

  html body #container #main #top {
    width: calc(100% - 16px);
  }

  html body #container #main #top #arm {
    width: 90%;
  }

  html body #container #main #top #arm #search #input {
    margin: 0 17px;
  }

  html body #container #main #top #arm #option {
    position: absolute;
    display: block;
    right: 0px;
  }

  html body #container #main #top #arm #search #home {
	  left: -15px;
  }

  html body #container #main #xml .center {
    width: 420px;
	  left: -20px;
  }

  html body #container #main #xml .content {
	  display: inline-block;
  }

  html body #container #main #visit #page #quick {
	  width: 686px;
	  left: -15px;
  }

}

@media screen and (min-width: 1024px) {

  html body #container {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  html body #container #toggle {
    right: 2em;
    top: .5em;
  }

  html body #container #sidebar {
    display: block;
  }

  html body #container #main #progressBar {
    max-width: calc(100% - 16px);
  }

  html body #container #main #top {
    width: calc(100% - 16px);
  }

  html body #container #main #top #arm {
    width: 670px;
  }

  html body #container #main #top #arm #search #input {
    margin: 0 auto;
  }

  html body #container #main #top #arm #search #home {
    left: -35px;
  }

  html body #container #main #top #arm #option {
    right: -9px;
  }

  html body #container #main #xml .center {
    width: 410px;
    left: 10px;
  }

  html body #container #main #group .air .populate,
  html body #container #main #group .result .populate {
    width: 180px;
    margin: 2em;
  }

  html body #container #main #group .air,
  html body #container #main #group .result {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  html body #container #main #visit #page #front {
    width: 940px;
  }

  html body #container #main #visit #page #quick {
    position: relative;
    width: 848px;
    top: 15px;
    left: 0;
  }

  html body #container #main #xml .content {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1440px) {

  html body #container #main #top #arm {
    width: 940px;
  }

  html body #container #main #group .air,
  html body #container #main #group .result {
    width: 1200px;
  }

  html body #container #main #xml .center {
    margin-right: 115px;
    width: 600px;
    left: 0;
  }

}
