@media screen and (max-width: 425px) {

  #home,
  .left,
  .next,
  .back,
  .icon,
  .right,
  .button,
  .content,
  .previous,
  ::-webkit-scrollbar,
  .center .quick .left,
  .center .quick .right,
  #main #visit #page #front .icon {
    display: none !important;
  }

  #page {
   height: 100% !important;
   top: 0 !important;
  }

  #front,
  #handle {
   top: -10px !important;
  }

  #top,
  #arm {
    width: 100% !important;
  }

  #main {
    height: calc(100% - 100px);
    top: 60px !important;
  }

  #main .center {
    top: -20px !important;
	left: 0 !important;
  }

  #main .center,
  #main .channel {
    width: 100% !important;
    margin: 0;
  }

  #main .item,
  #main .feed {
    box-shadow: none !important;
    border: none !important;
  }

  #main #page .quick {
    width: 50% !important;
    right: 0 !important;
    left: 0 !important;
  }

  #option {
    width: calc(100% - 20px) !important;
    top: calc(100% - 50px) !important;
    position: fixed !important;
    height: 50px !important;
    right: 10px;
    z-index: 2;
  }

  #main .air .populate,
  #main .result .filter,
  #main .result .populate {
    margin: 1em !important;
    width: 32% !important;
  }


  #main #visit #page #front input[type=text],
  #main #visit #page #front #first .listing {
    padding-left: 0 !important;
    width: 16em !important;
    left: 0 !important;
  }

}

@media screen and (max-width: 768px) {

  #top {
    width: 100% !important;
  }

  #option {
    margin-left: 70px;
  }

  #main .center {
    left: -95px !important;
    width: 50% !important;
  }

  #main .content {
    margin-left: -75px !important;
  }

  #main #page .quick {
      width: 100% !important;
      z-index: 3;
      left: 0;
  }

  #main .translation {
    display: none !important;
  }


}

@media screen and (min-width: 769px) {

  #top {
    width: calc(100% - 16px) !important;
  }

  #main .center {
    width: 632px !important;
  }

}


@media screen and (min-width: 1024px) {

  #container {
    width: 100% !important;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  #top {
    width: 100%;
  }

  #arm {
    width: 1028px !important;
  }

  #main .center {
    width: 632px !important;
  }

  #main .air .populate,
  #main .result .filter,
  #main .result .populate {
    width: 156px;
    margin: 2em;
  }

  #main .result,
  #main .air {
    width: 924px !important;
    position: relative;
    display: block;
    margin: 0 auto;
  }

}

  #main #page .quick {
      width: 140%;
      z-index: 3;
      right: 20%;
      top: 40px;
  }

}
