#container #sidebar {
  background-color: var(--color-secondary);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  display: block;
  height: 100%;
  width: 280px;
  left: -280px;
  z-index: 12;
}

#container #sidebar #content {
  background-color: transparent;
  height: fit-content;
  overflow-x: hidden;
  padding-top: 10px;
  overflow-y: auto;
  margin: auto;
  width: 100%;
  bottom: 0;
  top: 0;
}

#container #sidebar #content #basic {
  position: relative;
  margin: 15px auto;
  overflow: hidden;
  margin-top: 15px;
  width: 280px;
  bottom: 0;
}

#container #sidebar #content #basic input[type=text] {
  background-color: var(--color-primary);
  color: var(--fill-color);
  border: var(--border-color);
  position: relative;
  overflow: hidden;
  font-size: 12px;
  margin: 0 auto;
  display: block;
  width: 270px;
  padding: 5px;
}

#container #sidebar #content #url {
  margin-bottom: 5px;
  margin-left: 0px;
  margin-top: 5px;
  width: 100%;
}

#container #sidebar #content .url {
  margin: 0;
}

#container #sidebar #content .url input[type=text] {
  background-color: var(--color-primary);
  color: var(--fill-color);
  border: var(--border-color);
  width: 90%;
}

#container #sidebar #content .min {
  margin: 10px;
}

#container #sidebar #content .min input[type=text] {
  background-color: var(--color-primary);
  color: var(--fill-color);
  border: var(--border-color);
  width: 100%;
}

#container #sidebar #content .cat {
  border-bottom: .3px solid transparent !important;
  border-right: .3px solid transparent !important;
  border-left: .3px solid transparent !important;
  border-top: .3px solid transparent !important;
  background-color: transparent !important;
  color: var(--fill-color);
  letter-spacing: .5px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  padding-top: 20px;
  overflow: hidden;
  cursor: default;
  font-size: 12px;
  height: 15px;
}

#container #sidebar #content .sel {
  border-bottom: .3px solid transparent !important;
  border-right: .3px solid transparent !important;
  border-left: .3px solid transparent !important;
  border-top: .3px solid transparent !important;
  background-color: transparent !important;
  color: var(--fill-color);
  overflow: hidden;
  cursor: default;
  font-size: 12px;
  padding: 10px;
  height: 15px;
}

#container #sidebar #content .fav,
#container #sidebar #content .set,
#container #sidebar #content .themes,
#container #sidebar #content .bg,
#container #sidebar #content .exclude {
  background-color: transparent !important;
  color: var(--fill-color);
  padding-bottom: 5px;
  padding-left: 10px;
  overflow: hidden;
  cursor: default;
  font-size: 12px;
  height: 31.5px;
  width: 95%;
}

#container #sidebar #content .fav .favorite,
#container #sidebar #content .exclude .parse,
#container #sidebar #content .set .choose,
#container #sidebar #content .themes .border,
#container #sidebar #content .bg .adjust {
  background-color: transparent !important;
  color: var(--fill-color);
  padding-bottom: 10px;
  padding-top: 8px;
  overflow: hidden;
  font-size: 12px;
  height: 15px;
  width: 100%;
}

#container #sidebar #content .fav .feed,
#container #sidebar #content .exclude .option,
#container #sidebar #content .set .settings,
#container #sidebar #content .themes .theme,
#container #sidebar #content .bg .background {
  padding-left: 10px;
  margin-top: 10px;
  cursor: default;
  padding: 5px;
}

#container #sidebar #content .fav .feed:hover,
#container #sidebar #content .exclude .option:hover,
#container #sidebar #content .set .settings:hover,
#container #sidebar #content .theme:hover,
#container #sidebar #content .bg .background:hover {
  background-color: var(--hover-background-color) !important;
}
