@media (max-width: 426px) {

    .box { width: 90% !important }

}

@media (min-width: 768px) and (max-width: 1025px) {

    .box { max-width: 93.5% !important }

}

@media screen and (min-width: 1025px) {

	html { background-color: #fafafa } 

    html, body, .container, .output {
    overflow: hidden;
    height: 100%;
    right: 0em;
    left: 0em;
    top: 0em;
    }

    .wrapper {
    transform: translate(50%,50%);
    border: 1px solid #ddd;
    position: fixed;
    border: none;
    height: 95%;
    bottom: 60%;
    width: 70%;
    right: 50%;
    top: -45.5%;
    }

    #pop, #air, .get { padding-left: 1.5% }

	#icon { margin-bottom: -.7em }

    .box { max-width: 92.5% }

}
    div { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif }

   .category, .icon, .pop, .air, .pub, .img, a {
        text-decoration: none;
        cursor: pointer;
    }

    ::-webkit-scrollbar { width: 5px }

    .invert::-webkit-scrollbar-thumb {background-color: #ddd }

    .invert::-webkit-scrollbar { background-color: #f5f5f5 }

    .invert {
    scrollbar-color: #ddd #f5f5f5;
    scrollbar-width: thin;
    }

    .default::-webkit-scrollbar-thumb { background-color: #0a0a0a }

    .default::-webkit-scrollbar { background-color: #000 }

    .default {
    scrollbar-color: #222 #000;
    scrollbar-width: thin;
    }

    html, body, .container, .output {
    overflow: hidden;
    height: 100%;
	bottom: 0em;
    right: 0em;
    left: 0em;
    top: 0em;
    }
    .arm {
    transform: translate(50%,50%);
    position: absolute;
    height: 50%;
    right: 50%;
    }
    #invert {
    border-bottom: solid 1px #b5b5b5;
    border-radius: 50%;
    }
    #invert:active {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
    }
    #icon {
    transform: translateX(-50%);
    position: absolute;
    bottom: 0em;
    left: 50%;
    }
    .icon {
    position: relative;
    height: 32px;
    width: 32px;
    }
	.attach {
    justify-content: center;
	width: calc(100% - 6px);
    position: absolute;
    display: flex;
    height: 2.9em;
	z-index: 2;
    top: -1px;
	}
    .category {
    display: inline-block;
    text-align: center;
    padding-top: 2.2em;
    font-size: 8px;
    height: 3.6em;
    width: 14%;
    }
    .output {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    outline: none !important;
    position: absolute;
    overflow-x: hidden;
    padding-right: 1%;
    padding-left: 1%;
    overflow: auto;
    height: 100%;
    }
    .pub:hover, .des:hover, a:hover { text-decoration: underline }
    #pop, #air, .get { padding-top: 1em; }
    .pop, .air {
    margin: .5em auto;
    font-size: 10px;
    max-width: 88%;
	padding: 2em;
    margin: 3em;
    }
    .pub {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: Arial;
    width: fit-content;
    font-weight: bold;
    font-size: 12px;
    }
    .img {
    margin-bottom: .5em;
    }
    .box {
    margin-bottom: 1em;
	width: fit-content;
    margin-left: 1%;
	display: table;
	padding: 1em;
    }
    .ago {
    padding-bottom: .5em;
    font-size: 10px;
    cursor: default;
	line-height: 1;
    }
	.attr { margin-top: -4px }
    .views {
    position: absolute;
    bottom: -3em;
    }
    a {
    text-align: right;
    margin-top: -5px;
    font-size: 10px;
    }
    #yt {
    padding-bottom: 2em;
    margin: 2em auto;
    }
    .yt {
    -webkit-overflow-scrolling: touch;
    padding-bottom: 54.25%;
    position: relative;
    width: 100%;
    height: 0;
    }
    iframe {
    position: absolute;
    width: 100%;
    border: none;
    height: 100%;
    top: 0;
    }
    .random, .opposite {
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-top: 2em;
    position: fixed;
    height: 24px;
    width: 24px;
    bottom: 0em;
    z-index: 2;
    }
    .random {
    padding-left: 3em;
    bottom: -1px;
    right: 0;
    }
    .opposite {
    padding-right: 3em;
    bottom: -1px;
    left: 0;
    }
    .gif {
    -webkit-animation: grow 1.7s infinite ease;
    -moz-animation: grow 1.7s infinite ease
    height: 200px;
    width: 200px;
    }
    @-webkit-keyframes spin {
    100% {-webkit-transform: rotate(360deg);}   
    0%  {-webkit-transform: rotate(0deg);}
    }
    @-moz-keyframes spin {
    100% {-moz-transform: rotate(360deg);}   
    0%  {-moz-transform: rotate(0deg);}
    }
    @-webkit-keyframes grow {
    from { -webkit-transform:scale(1) }
    to { -webkit-transform:scale(1.5) }
    }
    @-moz-keyframes grow {
    from { -moz-transform:scale(1) }
    to { -moz-transform:scale(1.5) }
    }
