@media screen and (min-width: 320px) {
     .item {
         width: 95% !important;
         margin: .4em !important;
    }
}
 @media screen and (min-width: 375px) {
     .item {
         width: 90% !important;
         margin: 1em !important;
    }
}
 @media screen and (min-width: 425px) {
     .item {
         width: 92% !important;
         margin: 1em !important;
    }
}
 @media screen and (min-width: 768px) {
     #container {
         width: 100% 
    }
     .item {
         width: 88% !important;
         margin: 3em !important;
    }
}
 @media screen and (min-width: 769px) {
     #container {
		 position: relative;
         margin: 0 auto;
         display: none;
         border: none;
         height: 100%;
         width: 65%;
         top: 0em;
    }
     .item {
         width: 83% !important;
         margin: 3em !important;
    }
}
 @media screen and (min-width: 1440px) {
     #container {
         width: 50%;
    }
}
 @media screen and (min-width: 2160px) {
     #container {
         width: 35%;
    }
}
 @media screen and (min-width: 2560px) {
     #container {
         width: 25%;
    }
}
 div, input[type=text] {
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif 
}
 .populate, .pub, .img, a {
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     -moz-user-select: -moz-none;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
     text-decoration: none;
     cursor: pointer;
}
 .pub:hover, .des:hover, a:hover {
     text-decoration: underline 
}
 ::-webkit-scrollbar {
     width: 2px 
}
 .invert::-webkit-scrollbar-thumb {
     background-color: #ddd 
}
 .invert::-webkit-scrollbar {
     background-color: #f5f5f5 
}
 .invert {
     scrollbar-color: #ddd #f5f5f5;
     scrollbar-width: thin;
}
 .opposite::-webkit-scrollbar-thumb {
     background-color: #0a0a0a 
}
 .opposite::-webkit-scrollbar {
     background-color: #000 
}
 .opposite {
     scrollbar-color: #222 #000;
     scrollbar-width: thin;
}
 html, body, #arm {
     overflow: hidden;
     height: 100%;
     width: 100%;
     margin: 0;
     bottom: 0;
     left: 0;
     top: 0;
}
 #arm {
     display: flex;
}
 #animate {
     margin: auto;
}
 #animate {
     -webkit-animation: spin 7s infinite ease;
     -moz-animation: spin 7s infinite ease height: 200px;
     width: 200px;
}
 @-webkit-keyframes spin {
     100% {
        -webkit-transform: rotate(360deg);
    }
     0% {
        -webkit-transform: rotate(0deg);
    }
}
 @-moz-keyframes spin {
     100% {
        -moz-transform: rotate(360deg);
    }
     0% {
        -moz-transform: rotate(0deg);
    }
}
 svg, svg .progress {
     position: relative;
     margin: 0 auto;
     display: block;
     height: 48px;
     width: 52px;
}
 svg .progress {
     transform-origin: 50% 50%;
     transform: rotate(90deg);
     stroke-dashoffset: 132;
     stroke-dasharray: 132;
     fill: transparent;
     stroke-width: 3px;
}
 svg {
     z-index: 2;
}
 .a {
	 background-color: transparent;
	 display: block !important;
	 position: relative;
	 font-size: 36px;
	 margin: 0 auto;
	 bottom: 43px;
	 height: 36px;
 	 width: 36px;
	 z-index: 2;
}
 #main {
     -ms-overflow-style:-ms-autohiding-scrollbar;
     -webkit-overflow-scrolling: touch;
     border-left: .3px solid rgba(0,0,0,.1);
     height: calc(100% - 50px);
     outline: none !important;
     position: absolute;
     overflow: auto;
	 bottom: 50px;
     width: 100%;
}
 .populate {
     font-size: 10px;
     display: table;
     padding: 3em;
}
 .ack {
	 font-size: 12px !important;
	 position: absolute;
	 margin: 10px;
}
 .item {
	 margin-bottom: 3.5em !important;
}
 .item .pub {
	 font-size: 12px !important;
     padding: 10px !important;
	 margin-right: 15px;
	 margin-left: 15px;
}
 #ago, .ago, .attr {
     text-transform: uppercase;
     display: inline-block;
     width: fit-content;
     line-height: .3;
     font-size: 9px;
     margin: 10px;
}
 .img {
	 margin-top: 5px;
}
 #navigate {
     background-color: transparent;
     position: absolute;
     height: 50px;
     bottom: 0px;
     width: 100%;
}
 input {
     transform: translate(-50%, -50%);
	 border-radius: 24px;
     position: absolute;
	 padding-left: 15px;
     font-size: 16px;
	 display: none;
	 outline: none;
	 height: 2em;
     width: 16em;
     z-index: 3;
     left: 50%;
     top: 50%;
}
 .fa-toggle-on, .fa-toggle-off, .fa-terminal {
     position: absolute;
     font-size: 20px;
     bottom: .5em;
}
 .fa-terminal {
     right: 1em;
}
 .fa-toggle-on, .fa-toggle-off {
     left: 1em;
}
