@media screen and (min-width: 320px) {
	#placeholder {
		width: 100px;
		left: 1em;
	}
	.center,
	.channel {
		width: 95% !important;
		margin: 0 auto !important;
	}
}
@media screen and (min-width: 375px) {
	.center,
	.channel {
		width: 90% !important;
		margin: 0 auto !important;
	}
}
@media screen and (min-width: 425px) {
	.center,
	.channel {
		width: 92% !important;
		margin: 0 auto !important;
	}
}
@media screen and (min-width: 768px) {
	#container {
		width: 100%
	}
	.center, 
	.channel {
		width: 88% !important;
		margin: 0 auto !important;
	}
}
@media screen and (min-width: 769px) {
	.center,
	.channel {
		width: 55% !important;
		margin: 0 auto !important;
	}
}
@media screen and (min-width: 1440px) {
	.center,
	.channel {
		width: 55% !important;
		margin: 0 auto !important;
	}
}
@media screen and (min-width: 2160px) {
	.center,
	.channel {
		width: 55% !important;
		margin: 0 auto !important;
	}
}
@media screen and (min-width: 2560px) {
	.center,
	.channel {
		width: 55% !important;
		margin: 0 auto !important;
	}
}
::-webkit-scrollbar {
	width: 7px
}
.invert::-webkit-scrollbar-thumb {
	background-color: rgba(128, 128, 128, .1)
}
.invert::-webkit-scrollbar {
	background-color: #f5f5f5
}
.invert {
	scrollbar-color: #eee #f5f5f5;
	scrollbar-width: thin;
}
.opposite::-webkit-scrollbar-thumb {
	background-color: #222
}
.opposite::-webkit-scrollbar {
	background-color: #000
}
.opposite {
	scrollbar-color: #222 #000;
	scrollbar-width: thin;
}
.responseInvert {
	background-image: linear-gradient(319deg, #ffbd77 0%, #f0f4a4 100%, #acfcd9 100%);
	height: 3px;
	width: 0%;
}
.responseOpposite {
	background-image: linear-gradient(319deg, #ef4063 0%, #e557c6 100%);
	height: 3px;
	width: 0%;
}
.response {
	-moz-transition: all 1s ease;
	-moz-transition-delay: 0s;
	-webkit-transition: all 1s ease;
	-webkit-transition-delay: 0s;
}
.overlay {
	position: relative;
	width: 100%;
	height: 100%;
    background: -webkit-linear-gradient(left , rgba(255,255,255,.3) 30%, rgba(255,255,255,.6) 80%, rgba(255,255,255,.3) 100%) repeat;
    background: -moz-linear-gradient(left , rgba(255,255,255,.3) 30%, rgba(255,255,255,.6) 80%, rgba(255,255,255,.3) 100%) repeat;
    -moz-background-size: 50% 100%;
    -moz-animation-name: moving-gradient;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-background-size: 50% 100%;
    -webkit-animation-name: moving-gradient;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes moving-gradient {
    0% {
        background-position: left bottom;
    }

    100% {
        background-position: right bottom;
    }
}
@-moz-keyframes moving-gradient {
    0% {
        background-position: left bottom;
    }

    100% {
        background-position: right bottom;
    }
}
div,
input[type=text] {
	font-family: Arial;
}
.filter,
.populate,
.pub,
.img,
a {
	text-decoration: none;
	cursor: pointer;
}
html,
body,
#main {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	bottom: 0;
	left: 0;
	top: 0;
}
#arm {
	display: none;
	width: 100%;
	height: 95px;
}
.animate {
	-webkit-animation: spin 3s infinite ease;
	-moz-animation: spin 3s infinite ease height: 200px;
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
	0% {
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
	0% {
		-moz-transform: rotate(0deg);
		
	}
}
#main {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	height: calc(100% - 50px);
	justify-content: center;
	-ms-user-select: none;
	display: inline-flex;
	overflow-y: scroll;
	user-select: none;
	position: absolute;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: auto;
	outline: none;
	top: 50px;
}
#visit {
	position: relative;
	margin: auto;
	display: none;
}
#placeholder {
	filter: brightness(20%) saturate(50%) invert(90%);
	position: relative;
	left: 10px;
}
#home {
	position: absolute;
	left: 10px;
	top: 5px;
}
.result {
	justify-content: center;
	margin-left: 10px;
	flex-wrap: wrap;
	display: flex;
	width: 100%;
}
.filter,
.populate {
	display: inline-flex;
	font-size: 12px;
	flex-wrap: wrap;
	margin: 4em;
	width: 18em;
}
.feed .pub {
	justify-content: center;
	display: flex;
	width: 100%;
}
.category,
.title {
	border-radius: 10px;
	margin: auto 0;
	padding: 7px;
	float: left;
}
.description {
	margin-top: 5px;
	padding-bottom: 5px;
	text-align: justify;
	display: table-cell;
	position: relative;
	width: fit-content;
	clear: left;
	float: left;
}
.type {
	position: relative;
	margin-top: 10px;
	font-size: 10px;
	width: 100%;
	bottom: 0;
}
.ack {
	position: absolute;
	font-size: 14px;
	margin: 12px;
}
.feed {
	font-size: 10px;
	display: flex;
	justify-content: center;
	width: 75%;
	border-radius: 24px;
	position: relative;
	margin: 25px auto;
	padding: 1em;
}
#fc {
	width: 36px;
}
.center {
	margin: 0 auto;
}
.channel {
	padding: 0;
	margin: 0;
	position: absolute;
	width: fit-content;
}
.img {
	padding-top: 1em;
}
.item {
	margin: 0;
	margin-bottom: 2em;
}
.item .pub {
	justify-content: left;
	margin-right: 15px;
	margin-left: 0px;
	font-weight: normal;
	font-size: 12px;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	width: 85%;
}
.comment {
	border: none;
	clear: left;
	width: 100%;
	padding: 1em;
}
.url {
	position: absolute;
	float: left;
	z-index: -1;
	height: 0;
}
.copy {
	margin-right: 10px;
	margin-top: 12px;
	font-size: 12px;
	float: right;
}
#ago,
.ago,
.attr {
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	width: fit-content;
	line-height: .3;
	font-size: 8.5px;
	margin: 10px;
}
.border {
}
#search {
	height: 50px;
	width: 100%;
}
input[type=text] {
	-webkit-appearance: none;
	caret-color: transparent;
	text-align: center;
	position: relative;
	padding-left: 7px;
	border-radius: 0;
	font-size: 10px;
	margin: 0 auto;
	display: table;
	outline: none;
	height: 3em;
	width: 30em;
	top: .7em;
}
input[type=submit] {
	display: none;
}
#bottom {
	position: absolute;
	display: block;
	height: 2em;
	width: 100%;
	bottom: 0;
}
svg,
svg circle .progress {
	position: relative;
	display: block;
	margin: 0 auto;
	height: 52px;
	bottom: -4px;
	width: 52px;
}
svg .progress {
	transform-origin: 50% 50%;
	transform: rotate(270deg);
	stroke-dashoffset: 131;
	stroke-dasharray: 131;
	fill: transparent;
	stroke-width: 1px;
	stroke: #F74268;
	display: block;
}
svg {
	z-index: 2;
}
.indicator {
	position: relative;
	display: block;
	margin: 0 auto;
	height: 48px;
	width: 48px;
	bottom: 0;
}
.views {
	position: absolute;
	right: 0;
	bottom: -6em;
}
.yt {
	-webkit-overflow-scrolling: touch;
	padding-bottom: 54.25%;
	position: relative;
	width: 100%;
}
iframe {
	position: absolute;
	top: -3px;
	border: none;
	height: 100%;
	width: 100%;
}
