@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAnsSUYevI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::placeholder {
  color: var(--fill-color);
}

a {
  color: var(--fill-color);
  text-decoration: none !important;
}

div {
  cursor: default;
}

div,
input {
  font-family: 'Nunito';
  font-size: 10px;
}

video {
  position: relative;
  width: 100%;
}

*,*:focus,*:hover{
    outline:none !important;
}

html,
#main,
html body,
#container,
#main #visit {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border:none !important;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

html,
html body,
#container {
  background: var(--color-secondary);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#container .sb {
  background-color: transparent;
  color: var(--fill-color);
  position: absolute;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
  display: none;
  left: 2px;
  z-index: 11;
  top: 7px;
}

#main {
  background-color: var(--borderless-color);
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: center;
  scroll-behavior: smooth;
  align-items: center;
  position: absolute;
  text-align: center;
  overflow-y: scroll;
  min-height: 100%;
  display: flex;
}

#main #arm {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 60px;
}

#main #check {
  background-color: transparent;
  color: var(--fill-color);
  margin-left: 10px;
  position: absolute;
  font-size: 11px;
  position: fixed;
  display: none;
  z-index: 12;
}

#main #check .loader {
  position: relative;
  margin: 0 auto;
}

#dots {
  position: fixed;
}

.fill {
  background-color: var(--fill-color) !important;
  border-radius: 50%;
  visibility: hidden;
  position: fixed;
  z-index: -12;
  height: 4px;
  left: -4px;
  width: 4px;
  top: 0;
}

#just {
  background-color: transparent;
  position: relative !important;
  border: var(--border-color);
  color: var(--fill-color);
  display: inline-block;
  padding-bottom: 2px;
  border-radius: 12px;
  padding-right: 20px;
  padding-left: 20px;
  letter-spacing: 0;
  font-size: 10px;
  cursor: pointer;
  margin: 0 auto;
  bottom: 150px;
  left: 160px;
}

#link {
  border: var(--borderless-color);
  background-color: transparent;
  transform: rotate(180deg);
  color: var(--fill-color);
  justify-content: center;
  display: inline-flex;
  border-radius: 20px;
  align-items: center;
  position: absolute;
  margin-left: 45px;
  margin-top: 25px;
  padding: 10px;
  height: 15px;
  width: 15px;
}

#container #notify {
  background-color: var(--hover-background-color);
  color: var(--fill-color);
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  position: absolute;
  box-shadow: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 11px;
  display: none;
  height: 35px;
  width: 180px;
  bottom: 45px;
  z-index: 15;
  right: 20px;
}

#option {
  justify-content: space-between;
  background-color: transparent;
  color: var(--fill-color);
  position: absolute;
  user-select: none;
  cursor: pointer;
  display: none;
  z-index: 2;
  top: 5px;
}

#options {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: -15px;
}

#page {
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  display: block;
  top: 45px;
}

#progressBar {
  background-color: var(--loader-color);
  position: absolute;
  height: 4px;
  z-index: 12;
  width: 0;
  left: 0;
  top: 0;
}

#show {
  background-color: transparent;
  color: var(--fill-color);
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  margin: 0 auto;
  z-index: 0;
  left: 1px;
  top: 35px;
}

#social {
  position: absolute;
  left: 40px;
  top: -15px;
}

#top {
  background-color: transparent;
  width: 70% !important;
  position: fixed;
  display: none;
  height: 57px;
  z-index: 7;
  top: 0;
}

#visit {
  justify-content: center;
  align-items: center;
  display: none;
  height: 100%;
}
