@media screen and (max-height: 500px) {

  .content {
    margin-left: 15px;
    top: 0;
  }

  #feed {
    width: 640px;
  }

  .focus {
    border-radius: 8px;
    margin: 0 auto;
    width: 300px;
    left: -30px;
    padding: 0;
    top: -10px;
  }

  .info {
    display: none;
  }

  #page,
  #visit {
    background-color: transparent !important;
    height: 100%;
    width: 100%;
  }

  #quick {
    width: 680px;
    left: 40px;
  }

  #xml {
    width: 340px;
    left: 45px;
  }

}

@media screen and (max-width: 426px) {

  #toggle,
  .expand .des,
  .btn .flip-front,
  #main #xml .content,
  #main #top #arm #option,
  #main #xml .center #quick,
  #main #visit #page #quick .left,
  #main #visit #page #quick .right,
  #main #visit #page #options .fa-sun,
  #main #visit #page #options .fa-heart,
  #main #visit #page #front .focus .button {
    display: none !important;
  }

  .dots {
    animation: move 3s infinite cubic-bezier(.1,.75,1,.3) !important;
  }
  .dots:nth-of-type(2){
    animation: move 3s 150ms infinite cubic-bezier(.1,.75,1,.3) !important;
  }
  .dots:nth-of-type(3) {
    animation: move 3s 300ms infinite cubic-bezier(.1,.75,1,.3) !important;
  }
  .dots:nth-of-type(4) {
    animation: move 3s 450ms infinite cubic-bezier(.1,.75,1,.3) !important;
  }
  .dots:nth-of-type(5) {
    animation: move 3s 600ms infinite cubic-bezier(.1,.75,1,.3) !important;
  }

  #main #visit #page #social {
    left: 80px;
    top: 200px
  }

  #under {
    top: 250px;
  }

  #main,
  #xml {
    height: 100% !important;
    width: 100% !important
    right: 0 !important;
  }

  #options {
      display: inline-block;
      position: absolute;
      margin-right: auto;
      margin-left: auto;
      left: 0;
      top: 115px;
      right: 0;
  }

  .btn .flip-back {
    transform: rotateX(0deg) translateZ(25px) !important;
  }

  .center {
    position: relative !important;
    margin: 0 auto !important;
    width: 100% !important;
  }

  .expand {
    margin-left: 0 !important;
  }

  .expand .display {
    width: 100% !important;
  }

  .expand .title {
    flex-basis: 60% !important;
  }

  .flexbox {
    width: 100% !important;
  }

  .img,
  .image,
  .pending {
    width: 100% !important;
    margin: 0 !important;
  }

  .listing {
    height: 264px !important;
    width: 280px !important;
    top: 0 !important;
  }

  .populate {
    width: 130px;
    margin: 1em;
  }

  .populate:hover {
    background-color: none !important;
  }

  .item {
    margin-bottom: 55px !important;
    box-shadow: none !important;
    border: none;
    width: 100%;
  }

  .sideItem {
    width: 320px !important;
    display: inline-table;
      margin-right: 50px;
      height: 540px;
  }

  #bottom {
    margin-bottom: 25px !important;
    margin-top: 25px !important;
  }

  #feed {
    justify-content: center;
    display: inline-flex;
    position: absolute;
    margin-right: 0%;
    flex-wrap: wrap;
    margin-left: 0%;
    height: 500px;
    top: -100px;
    right: 0;
    left: 0;
  }

  #label {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
  }

  #link {
    top: -22px;
  }

  #show {
    top: 12px;
  }

  #group {
    position: absolute !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 95vw !important;
    right: 0 !important;
    left: 0 !important;
  }

  #page,
  #visit {
    background-color: transparent !important;
    height: 100%;
    width: 100%;
  }

  #main #top,
  #main #top #arm,
  #main #top #arm #search {
    background: transparent !important;
    width: 100vw !important;
  }

  #match {
    height: 264px;
    width: 280px;
    top: 25px;
  }

  #option {
    width: calc(100% - 20px);
    top: calc(100% - 50px);
    position: fixed;
    display: flex;
    height: 50px;
    right: 11px;
  }

  #quick {
    background-color: transparent !important;
    position: absolute;
    height: 400px;
    width: 100%;
    top: 62px;
  }

  #first {
    background-color: transparent !important;
    height: 264px;
    width: 280px;
    top: 2px;
  }

  .focus {
    border-radius: 8px;
    margin: 0 auto;
    width: 280px;
    padding: 0;
    top: -40px;
  }

  .focus input[type=text] {
    border-radius: 8px;
    padding-left: 35px;
    width: 280px;
    top: 0px;
  }

  #guide .sticky {
    max-width: 100vw !important;
    border-top: none !important;
  }

  #guide .sticky #yt .wrap .ago {
    display: none !important;
  }

  #guide .sticky .header {
    border-right: var(--border-color) !important;
    border-left: var(--border-color) !important;
    border-top: var(--border-color) !important;
  }

  #guide .sticky .img
  #guide .sticky .image {
    max-width: 100vw !important;
    width: 100% !important;
    margin: 0 !important;
  }

  #guide .sticky .src {
    width: 100vw !important;
    display: block;
  }

  #yt .wrap {
    display: none !important;
    width: 100% !important;
  }

  #yt .wrap .header {
    display: none !important;
  }

  #yt .wrap .pub {
    display: none !important;
  }

  .yt {
    display: block !important;
    width: 100% !important;
  }

  .yt .src {
    height: 22vh !important;
  }

  #xml {
    background-color: transparent !important;
  }

}

@media (min-width: 426px) and (max-width: 767px) {

  #main #social {
      display: none !important;
  }

  #options {
      display: inline-block;
      position: absolute;
      margin-right: auto;
      margin-left: auto;
      top: 115px;
      right: 0;
      left: 0;
  }

  .content {
    display: none;
  }

  .focus {
    border-radius: 8px;
    margin: 0 auto;
    width: 400px;
    padding: 0;
    top: -25px;
    right: 0;
  }

  .focus input[type=text] {
    border-radius: 8px;
    padding-left: 35px;
    width: 340px;
    top: -2px;
  }

  .focus .button {
    top: -1px;
  }

  .listing {
    height: 264px !important;
    width: 405px !important;
    top: 0 !important;
  }

  .sideChannel {
    width: 100vw !important;
  }

  #feed {
    width: 480px;
  }

  #first {
    background-color: transparent !important;
    height: 264px;
    width: 405px;
    top: 35px;
  }

  #match {
    height: 264px;
    width: 415px;
    top: 25px;
  }

  #option {
    width: calc(100% - 20px);
    top: calc(100% - 50px);
    position: fixed;
    display: flex;
    height: 50px;
    right: 11px;
  }

  #social {
    top: 15px;
  }

  #xml {
    height: fit-content;
    position: absolute;
    min-height: 100%;
    display: block;
    right: 90px;
    width: 75%;
    z-index: 1;
    top: 60px;
  }

  .yt .image {
    padding-bottom: 16.25% !important;
  }

}

@media screen and (min-width: 768px) {

  .content {
	  display: none;
    right: 50px;
  }

    .dots {
      animation: move 3s infinite cubic-bezier(.1,.9,1,.1) !important;
    }
    .dots:nth-of-type(2){
      animation: move 3s 150ms infinite cubic-bezier(.1,.9,1,.1) !important;
    }
    .dots:nth-of-type(3) {
      animation: move 3s 300ms infinite cubic-bezier(.1,.9,1,.1) !important;
    }
    .dots:nth-of-type(4) {
      animation: move 3s 450ms infinite cubic-bezier(.1,.9,1,.1) !important;
    }
    .dots:nth-of-type(5) {
      animation: move 3s 600ms infinite cubic-bezier(.1,.9,1,.1) !important;
    }

  .expand {
    margin: 0 auto !important;
    width: 720px !important;
  }

  .header {
    position: relative !important;
    top: 0 !important;
  }

  .minimum {
    margin: 0 auto !important;
    width: 760px !important;
  }

  #arm {
    width: 100%;
  }

	#page {
		top: 0;
	}

  #main #option {
    position: absolute;
    display: none;
    right: -75px;
  }

  #main #visit #page #quick {
  	width: 720px;
    top: 15px;
    right: 0;
  }

}

@media screen and (min-width: 769px) {

  .center {
    width: 420px;
  }

  .content {
	  display: inline-block;
  }

  #arm {
    width: 100%;
  }

  #just {
    left: 290px !important;
  }

  #main #option {
    display: none;
  }

  #main #top #arm #option {
    position: absolute;
    display: block;
    right: 0px;
  }

  #show {
    left: 7px;
  }

  #quick {
	  width: 715px;
	  left: -15px;
  }

}

@media screen and (min-width: 1024px) {

  .air,
  .result {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  .expand {
    margin: 0 auto !important;
    width: 990px !important;
  }

  .minimum {
    margin: 0 auto !important;
    width: 990px !important;
  }

  .populate {
    height: 140px;
    width: 180px;
    margin: 2em;
  }

  #arm {
    width: 670px;
  }

  #front {
    width: 940px;
  }

  #input {
    margin: 0 auto;
  }

  #options {
    position: absolute;
    right: 145px;
  }

  #social {
    position: absolute;
    left: 145px;
  }

  #main #top #arm #option {
    right: -30px;
  }

  #quick {
    position: relative;
    width: 848px;
    top: 15px;
    left: 0;
  }

}

@media screen and (min-width: 1024px) {

  #xml .content {
    display: inline-block;
  }

}

@media screen and (min-width: 1440px) {

  .air,
  .result {
    width: 1080px;
  }

  .center {
    width: 100%;
  }

  .expand {
    width: 100% !important;
  }

  .minimum {
    width: 100% !important;
  }

  #arm {
    width: 940px;
  }

  .yt .image img {
    height: 460px;
    top: -22.75%
  }
}
