.about {
  background-color: transparent;
  text-justify: inter-word;
  text-align: justify;
  position: relative;
  width: 275px;
}

.add {
  margin-left: 15px !important;
  margin-bottom: 10px;
  font-size: 12px;
  width: 85%;
}

.add,
.pub {
  background-color: transparent;
  max-width: 100% !important;
  justify-content: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 13px;
  left: 0;
}

.ago {
  background-color: transparent;
  color: var(--fill-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
  width: fit-content;
  margin-left: 12px;
  font-size: 9px;
}

.asset,
.info {
  background-color: transparent;
  position: relative;
  top: -5px;
}

.attribute {
  background-color: var(--color-secondary);
  border: var(--border-color);
  position: absolute;
  display: none;
  height: 160px;
  width: 200px;
  padding: 1px;
  right: 0px;
  z-index: 12;
  top: 59px;
}

.center {
  background-color: transparent;
  display: inline-block;
  height: fit-content;
  position: relative;
  text-align: left;
}

.channel::-webkit-scrollbar {
  display: none;
}

.channel {
  background-color: transparent;
  scrollbar-width: none;
}

.content {
  background: transparent;
  display: inline-block;
  height: fit-content;
  vertical-align: top;
  text-align: center;
  position: fixed;
  font-size: 10px;
  width: 300px;
  top: 60px;
}

#bottom {
  background-color: transparent;
  justify-content: center;
  padding-bottom: 40px;
  align-items: center;
  position: relative;
  font-size: 12px;
  display: flex;
  height: 5em;
  width: 100%;
  bottom: 3px;
}

.bottom {
  border: var(--border-color);
  background-color: transparent;
  position: relative !important;
  margin: 0 auto !important;
  color: var(--fill-color);
  display: inline-block;
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 18px;
  letter-spacing: 0;
  font-size: 10px;
  cursor: pointer;
  height: 30px;
}

.combine {
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  width: 100%;
}

.combine a {
  font-size: 11px;
}

.combine div {
  background-color: transparent;
  color: var(--fill-color);
  cursor: pointer;
}

.content .filter {
  margin-bottom: 10px;
  align-items: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 9px;
  display: flex;
  height: 75px;
  width: 257px;
  z-index: -1;
}

.content .filter a {
  color: var(--fill-color);
  background-color: transparent;
  position: relative;
  font-size: 12px;
}

.content .filter img {
  background-color: transparent;
  border-radius: 36px;
  position: relative;
  margin: 0 auto;
  padding: 1px;
  margin: 10px;
  height: 60px;
  width: 60px;
}

.copy {
  color: var(--fill-color);
  pointer-events: auto;
  position: absolute;
  font-size: 12px;
  padding: 23px;
  right: 0;
}

.courtesy {
  text-transform: capitalize;
  align-items: center;
  position: relative;
  width: fit-content;
  margin-top: 5px;
  font-size: 10px;
  display: flex;
  height: 50px;
  float: left;
  width: 100%;
  left: 0;
}

.courtesy a {
  background-color: transparent;
  color: var(--fill-color);
  position: absolute;
  left: 40px;
}

.courtesy img {
  border-radius: 24px;
  position: absolute;
  padding: 10px;
  left: 1.75px;
  height: 24px;
  width: 24px;
}

.download,
.post,
.picture,
.site {
  background-color: transparent;
  color: var(--fill-color);
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  border: none;
}

.download:hover,
.attribute .post:hover,
.attribute .picture:hover,
.site:hover {
  background-color: var(--hover-background-color);
}

.ext {
  position: absolute;
  margin: 0 auto;
}

.external {
  text-transform: lowercase;
  color: var(--fill-color);
  padding-bottom: 10px;
  position: relative;
  font-size: 10;
  width: 98%;
  left: 12px;
}

.header {
  background-color: transparent;
  height: 60px;
  width: 100%;
}

.image {
  margin: 12px;
}

.image,
.pending {
  background-color: var(--hover-background-color);
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  height: 270px;
  margin: 12px;
}

.img {
  display: none;
  height: auto;
  width: 100%;
}

.img,
.image {
  background-color: transparent;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 65vh;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  right: 0;
  left: 0;
}

.info {
  color: var(--fill-color);
  margin-left: 5px;
  text-align: left;
  z-index: -1;
}

.item {
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow);
  border: var(--border-color);
  margin-bottom: 70px;
}

.item:hover {
  background-color: var(--hover-background-color);
  border: var(--border-color);
}

.loader,
.loader:after,
.loader:before {
  justify-content: center;
  align-items: center;
  display: flex;
}

.more {
  background-color: transparent;
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  font-size: 13px;
  cursor: pointer;
  color: #aaa;
}

.next {
  float: right !important;
}

.pending {
  position: absolute;
  width: 100%;
}

.previous {
  float: left !important;
}

.pub {
  color: var(--fill-color);
  word-break: keep-all;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-top: 20px;
  cursor: default;
}

.random {
  font-style: italic !important;
  text-transform: capitalize;
  font-size: 9px;
  float: left;
}

.share,
.source,
.item .url {
  display: inline-block;
  position: relative;
  z-index: -2;
  width: 10px;
  opacity: 0;
  height: 0;
}

.status {
  background: transparent;
  position: relative;
  font-size: 10px;
}

.status img {
  border-radius: 26px;
}

.suggest {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 12px;
  width: 100%;
}

.suggestions {
  background-color: transparent;
  position: relative;
  padding-top: 15px;
  text-align: left;
  font-size: 10px;
  width: 280px;
}

.suggestions img {
  border-radius: 20px;
  position: relative;
  height: 24.5px;
  width: 24.5px;
  left: 2.5px;
}

.tag {
  background-color: transparent;
  border-radius: 10px;
  display: block;
  padding: 10px;
}

.yt .image {
  position: relative !important;
  overflow: hidden !important;
  width: 100% !important;
  margin: 0 !important;
}

.yt .image img {
  position: absolute !important;
  top: -16.75% !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
}

#yt {
    padding-bottom: 30px;
}

#yt .yt {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 54.25%;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}

#yt .yt iframe {
  border: none !important;
  width: 100% !important;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 0;
}

.views {
  position: absolute;
  bottom: -110px;
}

#xml {
  height: fit-content;
  position: absolute;
  min-height: 100%;
  display: block;
  height: 100%;
  width: 100%;
  left: 60px;
  z-index: 1;
  top: 0;
}
