@media screen and (min-width: 1280px) {

  .air,
  .result {
    width: 1080px;
  }

  .expand {
    width: 100% !important;
  }

  .minimum {
    width: 100% !important;
  }

  #arm {
    width: 940px;
  }

  .content {
    display: inline-block !important;
  }

  .center {
    display: inline-block;
    width: 930px;
  }

}

@media screen and (max-width: 1280px) {

  .content {
    display: none;
  }

}
