@media screen and (min-width: 1440px) {

  .air,
  .result {
    width: 1080px;
  }

  #arm {
    width: 940px;
  }

  .center {
    width: 100%;
  }

  .expand {
    width: 100% !important;
  }

  .minimum {
    width: 100% !important;
  }

  .yt .image img {
    height: 460px;
    top: -22.75%
  }

  .content {
    left: 75px !important;
  }

}
