@media screen and (max-height: 500px) {

  html,
  #main,
  html body,
  #container {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: calc(100% + 60px);
    border:none !important;
    width: 100%;
    margin: 0;
    bottom: 0;
    left: 0;
    top: 0;
  }

  #toggle,
  .expand .des,
  .btn .flip-front,
  #main #xml .content,
  #main #xml .center #quick,
  #main #visit #page #quick .left,
  #main #visit #page #quick .right,
  #main #visit #page #options .fa-sun,
  #main #visit #page #options .fa-heart,
  #main #visit #page #front .focus .button {
    display: none !important;
  }

  .content {
    margin-left: 15px;
    top: 0;
  }

  #feed {
    height: 250px !important;
    width: 375px !important;
    left: -15px !important;
  }

  .flexbox .item {
    width: 100% !important;
  }

  .focus {
    border-radius: 8px;
    margin: 0 auto;
    width: 210px !important;
    padding: 0;
    top: -40px;
  }

  .focus input[type=text] {
    border-radius: 8px;
    padding-left: 35px !important;
    width: 210px !important;
    top: 0px;
  }

  .info {
    display: none;
  }

  .item {
    width: 100% !important;
  }

  .sideItem {
    width: 320px !important;
    display: inline-table;
    margin-right: 50px;
    height: 380px;
  }

  #option {
    margin-top: 10px !important;
  }

  .sideChannel {
    height: fit-content !important;
    margin-top: 50px !important;
    top: 0 !important;
  }

  .sideItem {
    height: 260px !important;
    width: 320px !important;
    display: inline-table;
    margin-right: 50px;
  }

  #under {
    top: 240px !important;
    left: -5px !important;
  }

  #page,
  #visit {
    background-color: transparent !important;
    height: 100%;
    width: 100%;
  }

  #quick {
    width: 680px;
    left: 40px;
  }

  #xml {
    width: 320px;
  }

}
