@media screen and (max-width: 426px) {

  #main #xml .center .item .img {
    height: calc(100% + 5px) !important;
    width: calc(100% + 4px) !important;
    margin-right: -2px !important;
    position: relative !important;
    display: block !important;
    left: -1px !important;
    top: -1px !important;
  }

  #guide .pub {
    width: 90% !important;
  }

  #xml .yt .item {
    max-height: 80px !important;
  }

  #xml .item:not(.flexbox .item):not(.duo .item):not(.sideChannel .item) {
    min-height: 80px !important;
    box-shadow: none !important;
    border: none !important;
    width: 425px !important;
  }

  #xml .classic:not(.flexbox .classic):not(.duo .classic):not(.sideChannel .classic) {
    min-height: 150px !important;
  }

  #xml .wrap:not(.flexbox .wrap):not(.duo .wrap):not(.sideChannel .wrap) {
    min-height: 150px !important;
  }

  .duo .item {
    margin: 0 2px 2px 0 !important;
    height: fit-content !important;
    min-height: 158px !important;
    width: 212px !important;
    position: relative;
  }

  .duo .item .img,
  .duo .item .image {
    min-height: 160px !important;
  }

  .flexbox .yt .image {
    height: 79px !important;
  }


  .flexbox .item {
    margin: 0 2px 2px 0 !important;
    height: fit-content !important;
    min-height: 80px !important;
    width: 138px !important;
    position: relative;
  }

  .flexbox .item .classic {
    min-height: 80px !important;
  }

  .flexbox .item .header {
    display: none !important;
  }

  .flexbox .item .ago {
    display: none !important;
  }

  .flexbox .item .pub {
    display: none !important;
  }

  .flexbox .item .wrap {
    background: transparent!important;
  }

  .sideChannel {
    height: fit-content !important;
    width: 100vw !important;
  }

  .sideChannel .item {
    display: inline-table;
    margin-right: 50px !important;
    height: 340px !important;
    width: 320px !important;
  }

  .sideChannel .item .wrap,
  .sideChannel .item .image,
  .sideChannel .item .classic {
    height: 340px !important;
    width: 320px !important;
  }

  .sb {
    top: 7px !important;
  }

  #toggle,
  .expand .des,
  .duo .item .pub,
  .duo .item .ago,
  .duo .item .wrap,
  .btn .flip-front,
  .duo .item .header,
  #main #xml .content,
  #main #top #arm #option,
  #main #xml .center #quick,
  #main #visit #page #quick .left,
  #main #visit #page #quick .right,
  #main #visit #page #options .fa-sun,
  #main #visit #page #options .fa-heart,
  #main #visit #page #options .fa-expand-alt,
  #main #visit #page #options .fa-camera-retro,
  #main #visit #page #front .focus .button {
    display: none !important;
  }

  .dots {
    animation: dots 3s infinite cubic-bezier(.1,.75,1,.3) !important;
  }
  .dots:nth-of-type(2){
    animation: dots 3s 150ms infinite cubic-bezier(.1,.75,1,.3) !important;
  }
  .dots:nth-of-type(3) {
    animation: dots 3s 300ms infinite cubic-bezier(.1,.75,1,.3) !important;
  }
  .dots:nth-of-type(4) {
    animation: dots 3s 450ms infinite cubic-bezier(.1,.75,1,.3) !important;
  }
  .dots:nth-of-type(5) {
    animation: dots 3s 600ms infinite cubic-bezier(.1,.75,1,.3) !important;
  }

  #under {
    top: 250px;
  }

  #main,
  #xml {
    width: 100% !important
    right: 0 !important;
  }

  #options {
      display: inline-block;
      position: absolute;
      margin-right: auto;
      margin-left: auto;
      top: 115px;
      right: 0;
      left: 0;
  }

  .btn .flip-back {
    transform: rotateX(0deg) translateZ(25px) !important;
  }

  .center {
    position: relative !important;
    margin: 0 auto !important;
    width: 100% !important;
  }

  .expand {
    margin-left: 0 !important;
  }

  .expand .display {
    width: 100% !important;
  }

  .expand .title {
    flex-basis: 60% !important;
  }

  .flexbox {
    width: 100% !important;
  }

  #xml .img,
  #xml .image,
  #xml .pending {
    width: 100% !important;
    margin: 0 auto !important;
  }

  .listing {
    height: 264px !important;
    width: 280px !important;
    top: 0 !important;
  }

  .populate {
    width: 130px;
    margin: 1em;
  }

  .populate:hover {
    background-color: none !important;
  }

  #container #guide .sticky .header {
    height: 60px;
    width: 290px;
  }

  .sideItem {
    width: 280px !important;
    display: inline-table;
    margin-right: 50px;
    height: 320px;
  }

  #feed {
    justify-content: center;
    display: inline-flex;
    position: absolute;
    margin-right: 0%;
    flex-wrap: wrap;
    margin-left: 0%;
    height: 520px;
    top: -75px;
    right: 0;
    left: 0;
  }

  #label {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
  }

  #link {
    top: -22px;
  }

  #show {
    top: 12px;
  }

  #group {
    position: absolute !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 95vw !important;
    right: 0 !important;
    left: 0 !important;
  }

  #page,
  #visit {
    background-color: transparent !important;
    height: 100%;
    width: 100%;
  }

  #main #top,
  #main #top #arm,
  #main #top #arm #search {
    background: transparent !important;
    width: 100vw !important;
  }

  #match {
    height: 264px;
    width: 280px;
    top: 25px;
  }

  #mobileOption {
    display: flex !important;
    width: calc(100% - 10px);
    top: calc(100% - 45px);
    position: fixed;
    height: 40px;
    z-index: 12;
    right: 11px;
  }

  #quick {
    background-color: transparent !important;
    position: absolute;
    height: 500px;
    width: 100%;
    top: 62px;
  }

  #first {
    background-color: transparent !important;
    height: 264px;
    width: 280px;
    top: 2px;
  }

  .focus {
    border-radius: 8px;
    margin: 0 auto;
    width: 280px;
    padding: 0;
    top: -40px;
  }

  .focus input[type=text] {
    border-radius: 8px;
    padding-left: 35px;
    width: 280px;
    top: 0px;
  }

  #guide .sticky {
    max-width: 100vw !important;
    border-top: none !important;
  }

  #guide .sticky #yt .wrap .ago {
    display: none !important;
  }

  #guide .sticky .header {
    border-right: var(--border-color) !important;
    border-left: var(--border-color) !important;
    border-top: var(--border-color) !important;
  }

  #guide .sticky .img
  #guide .sticky .image {
    max-width: 100vw !important;
    width: 100% !important;
    margin: 0 !important;
  }

  #guide .sticky .src {
    width: 100vw !important;
    display: block;
  }

  #yt .wrap {
    display: none !important;
    width: 100% !important;
  }

  #yt .wrap .header {
    display: none !important;
  }

  #yt .wrap .pub {
    display: none !important;
  }

  .yt {
    height: fit-content !important;
    display: block !important;
    width: 100% !important;
  }

  .yt .src {
    height: 22vh !important;
  }

  #xml {
    background-color: transparent !important;
  }

}
