@media screen and (min-width: 769px) {

  #arm {
    width: 100%;
  }

  #main #option {
    display: none;
  }

  #main #top #arm #option {
    position: absolute;
    display: block;
    right: 0px;
  }

  #show {
    left: 7px;
  }

  #quick {
	  width: 715px;
	  left: -15px;
  }

}
