@media screen and (min-width: 769px) {

  #xml .classic {
    height: 169px !important;
  }

  .center {
    width: 420px;
  }

  .content {
	  display: none;
  }

  #arm {
    width: 100%;
  }

  #just {
    left: 290px !important;
  }

  #main #option {
    display: none;
  }

  #main #top #arm #option {
    position: absolute;
    display: block;
    right: 0px;
  }

  #show {
    left: 7px;
  }

  #quick {
	  width: 715px;
	  left: -15px;
  }

}
